/* FAB Home (print only)
 ************************/

@import 'partials/variables';

@media print {

  // Hide the header and footer

  #header, #footer {
    display: none;
  }

  /* Adjust visual for easier reading
   ************************************/
  #fabhome-benefits,
  #fabhome-howto {
    border-bottom: $grey-3 solid 1px;
  }


  /* Reset colours for element reliant on having a background
   ************************************************************/
  .fabhome,
  #fabhome-benefits {
    background-color: $white;

    h1, li, p {
      color: $grey-3;
      text-shadow: none;
    }
  }

  /* Save paper space
   ********************/
  #fabhome-benefits {
    padding: 0 40px;

    p {
      margin: 25px 0;
    }

    ul {
      width: 100%;
    }
  }

  #fabhome-howto {
    li {
      padding-top: 20px;

      &:before {
        float: none;
        font-size: 40px;
        line-height: 1.2em;
        position: absolute;
        top: 12px;
      }
    }

    strong {
      min-height: 2.5em;
      padding-left: 40px;
    }
  }

  /* Hide ink heavy elements that don't add value to content
   ************************************************************/
  #content.fabhome,
  #fabhome-howto .step1,
  #fabhome-howto .step2,
  #fabhome-howto .step3 {
    background-image: none;
  }

  .register-company-number-form,
  #fabhome-howto li::after,
  #fabhome-screenshot {
    display: none;
  }

  #fabhome-howto-lookup-area:before {
    border: none;
  }

  #fabhome-benefits,
  #fabhome-intro {
    min-height: auto;
    &:after {
      border: none;
    }
  }

}
