@import 'main.scss';

.supplier-profile-details-container {
  margin-bottom: 60px;
  padding-left: 30px;
  margin-top: 30px;
  @media (min-width: 767px) {
    margin-top: 60px;
    border-left: 3px solid black;
  }
  h1 {
    padding-bottom: 30px;
  }
  .reset-password-button {
    color: white;
  }
  p {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
}
