/* line 3, sass/main.scss */
ul, li {
  list-style: none;
}

/* line 8, sass/main.scss */
.data-form .form-control {
  width: 100%;
  max-width: 500px;
}
/* line 13, sass/main.scss */
.data-form .radio-group {
  overflow: hidden;
}
/* line 18, sass/main.scss */
.data-form .save-button {
  background: #00549F;
  margin: 30px 0;
}

/* line 26, sass/main.scss */
.form-group .subfield input {
  width: 20%;
}
/* line 30, sass/main.scss */
.form-group .subfield .suffix {
  font-weight: bold;
}
/* line 37, sass/main.scss */
.form-group.postcode input {
  width: 8em;
  max-width: 100%;
}
/* line 44, sass/main.scss */
.form-group.contact-number input {
  width: 11em;
  max-width: 100%;
}

/* line 51, sass/main.scss */
.list-inset {
  list-style-type: circle;
  margin-left: 2.5em;
}

/* line 56, sass/main.scss */
.grid-row.grid-row--great {
  background: #F2EEE8;
  margin-top: 30px;
}

/* line 61, sass/main.scss */
.panel--great {
  background: #F2EEE8;
  margin-top: 30px;
  padding: 1px 15px;
}

/* line 67, sass/main.scss */
.exporting-logo {
  margin-bottom: 30px;
}

/* line 71, sass/main.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 79, sass/main.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 80, sass/main.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 82, sass/main.scss */
body {
  background: url(images/banner-img1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 89, sass/main.scss */
body #global-header-bar {
  display: none;
}
/* line 93, sass/main.scss */
body h1 {
  font-size: 38px;
}
/* line 94, sass/main.scss */
body h2 {
  font-size: 26px;
}
/* line 98, sass/main.scss */
body #content {
  padding-bottom: 0;
}
/* line 99, sass/main.scss */
body #content.registration-content {
  max-width: 1200px;
}
/* line 101, sass/main.scss */
body #content .container {
  color: #ffffff;
}
/* line 103, sass/main.scss */
body #content .container a.teal {
  color: #007ea3;
}
/* line 106, sass/main.scss */
body #content .container a.teal:hover {
  color: #33cfff;
}
/* line 110, sass/main.scss */
body #content .container .row-fluid .registration-intro-container {
  margin-top: 140px;
}
/* line 112, sass/main.scss */
body #content .container .row-fluid .registration-intro-container .registration-intro {
  background: rgba(0, 0, 0, 0.6);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  zoom: 1;
  padding: 20px;
}
/* line 118, sass/main.scss */
body #content .container .row-fluid .registration-intro-container .registration-intro .great-britain-logo {
  margin: 0 0 20px;
  max-width: 100px;
}
/* line 121, sass/main.scss */
body #content .container .row-fluid .registration-intro-container .registration-intro .great-britain-logo img {
  width: 100%;
  height: auto;
}
/* line 130, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form {
  background: rgba(0, 0, 0, 0.6);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  zoom: 1;
  padding: 20px 40px 150px;
}
/* line 137, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form h2 {
  margin: 40px 0 60px 0;
}
/* line 141, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .already-registered {
  margin: 0 auto;
  text-align: center;
}
/* line 147, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .input-field-container label {
  margin-bottom: 10px;
}
/* line 151, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .input-field-container input, body #content .container .row-fluid form .connections-platform-form .input-field-container select {
  border: 3px solid #ffffff;
  border-radius: 0;
  font-size: 16px;
  height: 30px;
  margin: 0 0 40px;
  padding: 5px 10px;
  width: calc(100% - 26px);
}
/* line 159, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .input-field-container input:focus, body #content .container .row-fluid form .connections-platform-form .input-field-container select:focus {
  border: 3px solid #ffbf47;
}
/* line 164, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .input-field-container select {
  height: 50px;
  width: 100%;
}
/* line 170, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .input-field-container ul li {
  color: #ffbf47;
}
/* line 176, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .register-btn-container {
  margin: 20px 0;
  text-align: center;
}
/* line 179, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .register-btn-container input.register-btn {
  background: #888888;
  border: 0;
  color: #ffffff;
  height: 60px;
  width: 150px;
}
/* line 185, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .register-btn-container input.register-btn:hover {
  background: #666666;
}
/* line 191, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .steps {
  margin: 20px auto;
  text-align: center;
  width: 100%;
  color: white;
}
/* line 196, sass/main.scss */
body #content .container .row-fluid form .connections-platform-form .steps span {
  font-size: 3em;
}
/* line 203, sass/main.scss */
body #content .container .registered, body #content .container .sorry {
  background: rgba(0, 0, 0, 0.6);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  zoom: 1;
  margin-bottom: 150px;
  margin-top: 150px;
  padding: 20px;
}
/* line 211, sass/main.scss */
body #content .container .registered h1, body #content .container .registered h2, body #content .container .sorry h1, body #content .container .sorry h2 {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  /* line 221, sass/main.scss */
  body #content {
    margin: 0 20px;
  }
  /* line 223, sass/main.scss */
  body #content .container {
    width: 100%;
  }
  /* line 227, sass/main.scss */
  body #content .container .row-fluid form .connections-platform-form-container {
    width: 100%;
  }
  /* line 229, sass/main.scss */
  body #content .container .row-fluid form .connections-platform-form-container .connections-platform-form {
    height: 100%;
    margin: 40px 0 0;
    padding: 0 20px;
  }
  /* line 235, sass/main.scss */
  body #content .container .row-fluid form .connections-platform-form-container .connections-platform-form .register-btn-container input.register-btn {
    width: 50%;
  }
}
@media (max-width: 767px) {
  /* line 252, sass/main.scss */
  body #content .container .row-fluid .registration-intro-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* line 257, sass/main.scss */
  body #content .container .row-fluid form .connections-platform-form {
    padding-bottom: 50px;
  }
  /* line 262, sass/main.scss */
  body #content .container .registered, body #content .container .sorry {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
