django==4.2.11
django-environ==0.11.2
django-formtools==2.5.1
django-health-check==3.18.1
django-redis==5.4.0
djangorestframework==3.14.0
django-log-formatter-asim==0.0.4
directory-api-client==26.4.7
directory-client-core==7.2.13
directory-components==40.2.3
directory-constants==24.1.2
directory-healthcheck==3.5
directory-sso-api-client==7.2.7
directory-validators==9.3.4
gunicorn==22.0.0
sentry-sdk==1.14.0
whitenoise==6.4.0
requests[security]==2.31.0
cryptography==42.0.4
urllib3==1.26.18
py>=1.10.0
pillow==10.3.0
