django
django_extensions
django-formtools
django-revproxy
django-cors-headers
gunicorn
raven
requests[security]
whitenoise
phonenumberslite
pillow
directory-ch-client
directory_validators
directory-api-client
directory-sso-api-client
directory-constants
sigauth
directory-healthcheck
export-elements
directory-components
