Django==1.11.15
django-environ==0.4.5
django_extensions==1.9.0
django-formtools==2.0
django-revproxy==0.9.15
django-cors-headers==2.1.0
django-environ==0.4.5
django-redis==4.7.0
gunicorn==19.5.0
raven==5.19.0
whitenoise==3.1
phonenumberslite==7.7.4
pillow==4.2.1
directory-ch-client==1.0.0
directory_validators==5.0.0
directory-healthcheck==0.6.0
directory-components==3.5.0
directory-sso-api-client==3.0.2
directory-api-client==11.1.0
directory-constants==11.1.0
requests==2.20.0
