{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% block css %}
	<link href="{% static 'user-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container">
	<div class="user-profile-details-container">
		<div class="row-fluid">
			<div class="span12">
				<h1>My account</h1>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12 detail-container">
				<div class="description-text span3">
					Mobile number:
				</div>
				<div class="data-text span9">
					{{ user.mobile_number }}
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12 detail-container">
				<div class="description-text span3">
					Registered email:
				</div>
				<div class="data-text span9">
					{{ user.company_email }}
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span12 detail-container">
				<div class="description-text span3">
					Company ID:
				</div>
				<div class="data-text span9">
					<a href="">{{ user.company_id }}</a>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12 detail-container">
				<div class="description-text span3">
					Password
				</div>
				<div class="data-text span9">
					<div class="btn-container">
						<a class="register-btn button" href="">Reset password</a>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
{% endblock %}
