{% extends 'enrolment-base.html' %}
{% load external_url from constants_tags %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block content %}
<div class="ed-error-page-container container">
    <h1 class="ed-error-page-title">Page not found</h1>
    <ul class="ed-error-page-synopsis">
        <li>If you typed in a web address, check if it was entered correctly.</li>
        <li>If you followed a link here, <a class="link" href="{% external_url 'feedback_directory' %}" title="report a broken link">report the broken link</a>.</li>
        <li>Return to the <a class="link" href="{% url 'index' %}" title="return to homepage">homepage</a>.</li>
    </ul>
    <hr>
    <p class="ed-error-page-status">HTTP 404 Error Code - Page not found</p>
</div>

{% endblock %}