{% extends "form-wrapper.html" %}

{% block hero_title %}Build and improve your company profile{% endblock %}
{% block hero_text %}Add your company details to help others find you.{% endblock %}
{% block form_title %}How to build and improve your profile{% endblock%}
{% block button_next_label %}Next{% endblock%}
{% block button_finish_label %}Save{% endblock%}

{% block form_subtitle %}
<p>
	To set up your company’s profile, enter your company’s basic details, then choose which sectors you’re interested in and add more detail.
</p>
<p>
	You can add more extra information and upload images to complete your profile. You can edit your profile at any time.
</p>
<p>
	From early 2017, your company profile will be published live to the service and promoted to overseas customers.
</p>
<br>
<h2>Your company details</h2>
{% endblock form_subtitle %}