{% extends "form-wrapper.html" %}
{% block form_title %}Create your company’s profile{% endblock%}
{% block button_next_label %}Create account{% endblock%}
{% block extra_buttons %}
	<a href="{% url 'index' %}" class="register-btn button cancel-button" target="_self">Cancel</a>
{% endblock %}

{% block form_subtitle %}
<div class="input-field-container" id="ed-company-edit-address-container">
	<li>	
		{% include 'company-office-address.html' %}
	</li>
</div>
<div id="ed-account-create-explainer">
	<p>
		To confirm that this is your company you must create a great.gov.uk account.
	</p>
	<p>An account will let you:</p>
	<ul>
		<li>create a trade profile that will be promoted to international buyers</li>
		<li>apply for export opportunities from foreign companies sourced by UK government</li>
	</ul>
</div>
{% endblock %}
