{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% block css %}
	<link href="{% static 'company-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container">
	<div class="company-profile-details-body">

		<!-- Company name, contact details & URLS -->
		<div class="row-fluid">
			<div class="span12 great-blue-bar">
				<h1 class="element-within span6 company-name-title">{{company.name}}</h1>
				<div class="web-address span6 element-within">
					<a href="#" class="arrow-link external-link-white" target="_blank">{{company.website|default:'Please set your website address'}} <span class="a11y">(Opens in a new window)</span></a>
				</div>
			</div>
		</div>
		<div class="row-fluid company-profile-box company-hero">
			<!-- Company Logo area -->
			<div class="span3 company-logo">
				<div class="logo-container">
					<div class="logo">
						{% if company.logo %}<img src="{{company.logo}}" />{% endif %}
					</div>
				</div>
			</div>

			<!-- Key Facts -->
			<div class="span4 key-facts">
				<div class="company-details-subtitle">Key facts</div>
				<div class="number-of-employees">Number of employees: {{company.employees_label}}</div>
			</div>

			<!-- Company Details -->
			<div class="span4 company-details">
				<div class="company-details-subtitle">Company details</div>
				<div class="company-number">Registration number: {{company.number}}</div>
			</div>
		</div>

		<!-- Company description area -->
		<div class="row-fluid">
			<div class="span12 mid-blue-bar">
				 <h2 class="element-within company-sub-title">Company description</h2>
			</div>
		</div>
		<div class="row-fluid company-profile-box">
			<div class="span12">
				<span>{{company.description|default:'Please set your company description.'}}</span>
			</div>
		</div>

		<div class="row-fluid group two-column-group">
			<div class="span6">
				<!-- Market sectors -->
				<div class="row-fluid">
					<div class="mid-blue-bar">
						 <h2 class="element-within company-sub-title">Sectors of interest</h2>
					</div>
				</div>
				<div class="company-profile-box">
					{% for sector in company.sectors %}
						<span class="label stone-label">{{ sector }}</span>
					{% endfor %}
				</div>
			</div>

			<div class="span6">
				<!-- Company keywords -->
				<div class="mid-blue-bar">
					<div class="mid-blue-bar">
						 <h2 class="element-within company-sub-title">Company keywords</h2>
					</div>
				</div>
				<div class="company-profile-box">
					{% for keyword in company.keywords %}
						<span class="label stone-label">{{ keyword }}</span>
					{% endfor %}
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
