{% extends "form-wrapper.html" %}
{% block form_title %}Create your trade profile{% endblock%}
{% block button_next_label %}Create account{% endblock%}
{% block extra_buttons %}
	<a href="{% url 'index' %}" class="register-btn button cancel-button" target="_self">Cancel</a>
{% endblock %}

{% block form_subtitle %}
<div class="input-field-container" id="ed-company-edit-address-container">
	<li>	
		{% include 'company-office-address.html' %}
	</li>
</div>
<div id="ed-account-create-explainer">
	<p>
		To confirm that this is your company you must create a great.gov.uk account.
	</p>
	<p>Creating an account means you can:</p>
	<ul class="list list-bullet">
		<li>create a free trade profile to promote your products and services to overseas buyers</li>
		<li>apply for opportunities sourced by government trade professionals or provided by a third party</li>
	</ul>
</div>
{% endblock %}
