{% extends "enrolment-base.html" %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block head_title %}Start creating your profile - Find a Buyer - GREAT.gov.uk{% endblock %}
{% block content %}
<div class="outer-container ed-enrolment">
    <div class="cf"></div>
    <div class="ed-row cf">
        <div class="col-8">
            <div class="connections-platform-form">
                <h1>Before you start</h1>
                <div>
                    <p>
                        You will need your Companies House number.
                    </p>
                    <p>
                        We will need to send you a verification code by post to your company's registered company address.
                    </p>
                <div>
                    <a class="button button-blue" type="submit" href="{% url 'register' step='company-number' %}">
                        Start
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content %}
