{% extends "form-wrapper.html" %}
{% load no_export_intention from enrolment_tags %}
{% block form_title %}Your company's export status{% endblock%}
{% block formarea_container_class %}
    {% if form|no_export_intention %}
        span12
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block formarea %}
    {% if form|no_export_intention %}
        <h1>Try our other great business services</h1>
        <p>
            The Great Trade Index promotes companies that are currently exporting or looking to export in the near future. The answers you gave suggest that your company is currently not appropriate to feature in the Great Trade Index. 
        </p>
        <p>
            Visit <a href="http://www.greatbusiness.gov.uk/" target="_self">Business is Great</a> to get help and support for starting and growing your business.
        </p>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
