{% extends "form-wrapper.html" %}
{% load no_export_intention from enrolment_tags %}
{% block form_title %}Join the UK Exporter Directory{% endblock%}
{% block formarea_container_class %}
    {% if form|no_export_intention %}
        span12
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block formarea %}
    {% if form|no_export_intention %}
        <h1>Sorry, this is not the right service for your company</h1>
        <p>
            Copy that explains how this service is for companies that export, exported or consider doing so.
        </p>
        <p>
            Also, here are some other DIT things that could be of use for you:
            <ul>
                <li><a href='#'>Link</a></li>
                <li><a href='#'>Link</a></li>
            </ul>
        </p>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
