{% load static %}
<footer class="group ed-footer" id="footer" role="contentinfo">
    <div class="container">
        <div class="row-fluid grid-row">
            <div class="span4 logo">
                <div class="footer-section footer-section--first">
                    <a href="https://www.gov.uk" title="Go to the GOV.UK homepage">
                        <img src="{% static 'images/HM_Government_logo.png' %}" alt="Gov.uk logo" class="footer-img footer-img--top"/>
                    </a>
                    <p class="copyright-text">&copy; Crown Copyright 2016</p>
                    <a href="https://www.gov.uk" title="Go to the Exporting is Great homepage">
                        <img src="{% static 'images/EiG-logo-stacked.png' %}" alt="Exporting is Great logo" class="footer-img footer-img--bottom footer-img--eig">
                    </a>
                </div>
            </div>

            <div class="span4 links">
                <div class="footer-section">
                    <h3 class="footer-header">Our services</h3>
                    <ul class="footer-links-container">
                      <li class="footer-links"><a href="https://www.exportingisgreat.gov.uk/opportunities" title="Exporting opportunities">Exporting opportunities</a></li>
                      <li class="footer-links"><a href="http://find-a-buyer.export.great.gov.uk/" title="Find a buyer">Find a buyer</a></li>
                      <li class="footer-links"><a href="https://selling-online-overseas.export.great.gov.uk/" title="Selling online overseas">Selling online overseas</a></li>
                      <li class="footer-links"><a href="https://www.events.ukti.gov.uk/" title="Events">Events</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="span4 subscribe">
                <div class="footer-section">
                    <h3 class="footer-header">Exporting is GREAT</h3>
                    <ul class="footer-links-container">
                        <li class="footer-links"><a href="https://www.exportingisgreat.gov.uk/new/" title="">New to exporting</a></li>
                        <li class="footer-links"><a href="https://www.exportingisgreat.gov.uk/occasional/" title="">Occasional exporter</a></li>
                        <li class="footer-links"><a href="https://www.exportingisgreat.gov.uk/regular/" title="">Regular exporter</a></li>
                        <li class="footer-links"><a href="https://www.exportingisgreat.gov.uk/about" title="">About</a></li>
                        <li class="footer-links"><a href="{% url 'feedback' %}" title="">Contact</a></li>
                        <li class="footer-links"><a href="https://www.exportingisgreat.gov.uk/privacy-and-cookies/" title="">Privacy &amp; cookies</a></li>
                        <li class="footer-links"><a href="https://www.exportingisgreat.gov.uk/terms-and-conditions/" title="">Terms &amp; conditions</a></li>
                        <li class="footer-links"><a href="https://www.gov.uk/government/organisations/department-for-international-trade" title="">Department for International Trade</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>