{% load static %}
{% load external_url from constants_tags %}
<footer class="group ed-footer" id="footer" role="contentinfo">
    <div class="container">
        <div class="row-fluid grid-row">
            <div class="span4 logo">
                <div class="footer-section footer-section--first">
                    <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" class="hmg-logo">
                        <img src="{% static 'images/HM_Government_logo.png' %}" alt="Gov.uk logo" class="footer-img footer-img--top"/>
                    </a>
                    <p class="copyright-text">&copy; Crown Copyright 2016</p>
                    <a href="{% external_url 'exporting_is_great' %}" title="Go to the Exporting is Great homepage" class="eig-logo-footer">
                        <img src="{% static 'images/EiG-logo-stacked.png' %}" alt="Exporting is Great logo" class="footer-img footer-img--bottom footer-img--eig">
                    </a>
                </div>
            </div>

            <div class="span4 links">
                <div class="footer-section">
                    <h3 class="footer-header">Our services</h3>
                    <ul class="footer-links-container">
                      <li class="footer-links"><a href="{% external_url 'export_opportunities' %}" title="Exporting opportunities">Exporting opportunities</a></li>
                      <li class="footer-links"><a href="{% external_url 'find_a_buyer' %}" title="Find a buyer">Find a buyer</a></li>
                      <li class="footer-links"><a href="{% external_url 'selling_online_overseas' %}" title="Selling online overseas">Selling online overseas</a></li>
                      <li class="footer-links"><a href="{% external_url 'events' %}" title="Events">Events</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="span4 subscribe">
                <div class="footer-section">
                    <h3 class="footer-header">Exporting is GREAT</h3>
                    <ul class="footer-links-container">
                        <li class="footer-links"><a href="{% external_url 'new_to_exporting' %}" title="">New to exporting</a></li>
                        <li class="footer-links"><a href="{% external_url 'occasional_exporter' %}" title="">Occasional exporter</a></li>
                        <li class="footer-links"><a href="{% external_url 'regular_exporter' %}" title="">Regular exporter</a></li>
                        <li class="footer-links"><a href="{% external_url 'about' %}" title="">About</a></li>
                        <li class="footer-links"><a href="{% external_url 'contact_directory' %}" title="">Contact Us</a></li>
                        <li class="footer-links"><a href="{% external_url 'privacy' %}" title="">Privacy &amp; cookies</a></li>
                        <li class="footer-links"><a href="{% external_url 'terms' %}" title="">Terms &amp; conditions</a></li>
                        <li class="footer-links"><a href="{% external_url 'DIT' %}" title="">Department for International Trade</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>