{% extends "enrolment-base.html" %}

{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block hero_title %}Join the UK Exporter Directory{% endblock %}
{% block hero_text %}
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
{% endblock %}

{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block formarea %}
	<form action="" method="post" enctype="multipart/form-data">
		<div class="connections-platform-form">
			<h1>{% block form_title %}{% endblock form_title %}</h1>
			{% csrf_token %}
			<div class="input-field-container">
				{{ wizard.management_form }}
				{% if wizard.form.forms %}
					{{ wizard.form.management_form }}
					{% for form in wizard.form.forms %}
						{{ form }}
					{% endfor %}
				{% else %}
					{{ wizard.form }}
				{% endif %}
			</div>
			<div class="form-wrapper-btn-container btn-container">
				{% if wizard.steps.step1 != wizard.steps.count %}
					<input class="register-btn button" type="submit" value="{% block button_next_label %}Next{% endblock%}"/>
				{% else %}
					<input class="register-btn button" type="submit" value="{% block button_finish_label %}Register{% endblock%}"/>
				{% endif %}
				{% block form_footer_decoration %}{% endblock %}
			</div>
			

		</div>
		<div class="clearfix"></div>
	</form>
{% endblock %}
