{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
    <head>
        {% include 'google_tag_manager_head.html' %}
        <meta charset="utf-8" />
        <title>UK Exporter Directory enrolment - GOV.UK</title>

        <!--[if gt IE 8]><!--><link href="{% static 'govuk-0.18.0/assets/stylesheets/govuk-template.css' %}" media="screen" rel="stylesheet" /><!--<![endif]-->
        <!--[if IE 6]><link href="{% static 'govuk-0.18.0/assets/stylesheets/govuk-template-ie6.css' %}" media="screen" rel="stylesheet" /><![endif]-->
        <!--[if IE 7]><link href="{% static 'govuk-0.18.0/assets/stylesheets/govuk-template-ie7.css' %}" media="screen" rel="stylesheet" /><![endif]-->
        <!--[if IE 8]><link href="{% static 'govuk-0.18.0/assets/stylesheets/govuk-template-ie8.css' %}" media="screen" rel="stylesheet" /><![endif]-->
        <link href="{% static 'govuk-0.18.0/assets/stylesheets/govuk-template-print.css' %}" media="print" rel="stylesheet" />

        <!--[if IE 8]><link href="{% static 'govuk-0.18.0/assets/stylesheets/fonts-ie8.css' %}" media="all" rel="stylesheet" /><![endif]-->
        <!--[if gte IE 9]><!--><link href="{% static 'govuk-0.18.0/assets/stylesheets/fonts.css' %}" media="all" rel="stylesheet" /><!--<![endif]-->
        <!--[if lt IE 9]><script src="{% static 'govuk-0.18.0/assets/javascripts/ie.js' %}"></script><![endif]-->

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

        <link rel="shortcut icon" href="{% static 'govuk-0.18.0/assets/images/favicon.ico' %}" type="image/x-icon" />
        <link rel="mask-icon" href="{% static 'govuk-0.18.0/assets/images/gov.uk_logotype_crown.svg' %}" color="#0b0c0c">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-60x60.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{% static 'govuk-0.18.0/assets/images/opengraph-image.png' %}">

        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" media="all" rel="stylesheet" />
        <link href="{% static 'vendor/bootstrap/css/bootstrap-responsive.min.css' %}" media="all" rel="stylesheet" />
        {% block css %}
            <link href="{% static 'main.css' %}" media="all" rel="stylesheet" />
        {% endblock %}
    </head>

    <body>
        {% include 'google_tag_manager_body.html' %}
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

        <div id="skiplink-container">
            <div>
                <a href="#content" class="skiplink">Skip to main content</a>
            </div>
        </div>

        <div id="global-cookie-message">
            <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
        </div>

        {% include 'header.html' %}
        {% block sub_header %}
            <section class="ed-hero-sub-header">
                <div class="container">
                    <div class="row-fluid">
                        <span class="span12 ed-hero-sub-header-title">
                            <h1>{% block hero_title %}{% endblock %}</h1>
                        </span>
                    </div>
                    <div class="row-fluid ed-hero-sub-header-synopsis">
                        <span class="span9">
                            <span>{% block hero_text %}{% endblock %}</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>
        {% endblock sub_header %}

        <div id="content" class="enrolment-content">
            {% block content %}
            {% endblock content %}
        </div>
        {% include 'footer.html' %}

        <div id="global-app-error" class="app-error hidden"></div>

        <script src="{% static 'govuk-0.18.0/assets/javascripts/govuk-template.js' %}"></script>

        {% block bodyScripts %}{% endblock bodyScripts %}
    </body>
</html>
