<header class="container ed-header">
    <div class="row-fluid ed-header-level-one">
        <span class="span12">
            <ul class="pull-right">
                <li>
                    <a href="#">Export Opportunities</a>
                </li>
                <li>
                    <a href="#">Export Directory</a>
                </li>
                <li>
                    <a href="#">Find Online Marketplace</a>
                </li>
                <li>
                    <a href="#">Sign in/Register</a>
                </li>
            </ul>
        </span>
    </div>
    <div class="row-fluid ed-header-level-two">
        <span class="span12">
            <span></span>
            <span>
                <ul class="pull-right">
                    <li>
                        <a href="#">YOUR NEXT STEPS</a>
                    </li>
                    <li>
                        <a href="#">ADVICE AND SUPPORT</a>
                    </li>
                    <li>
                        <a href="#">MY OPPORTUNITIES</a>
                    </li>
                </ul>
            </span>
        </span>
    </div>
</header>
