{% load static %}
{% load external_url from constants_tags %}
<header role="banner">
    <div class="navigation">
      <div class="navigation-strip background--dark-navy">
        <div class="outer-container">
          <ul class="list-inline list-separators">
            <li class="float--left soft--right"><a class="" href="https://www.gov.uk/" title="hm government"><img src="{% static 'images/hm-gov-horizontal.svg' %}"></a></li>
            <li class="float--left soft--left"><a class="link--grey" href="https://www.exportingisgreat.gov.uk/" title="part of great.gov.uk">Part of <strong>GREAT.gov.uk</strong></a></li>
          </ul>
        </div>
      </div>
      <div class="background--great-blue">
        <div class="outer-container">
          <a href="https://www.exportingisgreat.gov.uk" title="Go to the Exporting is great homepage" class="float--left">
            <img src="{% static 'images/EiG_logo_horizontal.svg' %}" alt="Exporting is great logo" class="navigation-logo">
          </a>
        </div>
      </div>
      <div class="navigation-main background--dark-blue">
        <div class="navigation-main-section outer-container">
          <nav>
            <ul class="list-inline list-separators navigation-main-menu">
              <li><a title="new to exporting" href="{% external_url 'new_to_exporting' %}" class="navigation-main-link background--light-blue font-medium">New to exporting</a></li>
              <li><a title="occasional exporter" href="{% external_url 'occasional_exporter' %}" class="navigation-main-link background--light-blue font-medium">Occasional exporter</a></li>
              <li><a title="regular exporter" href="{% external_url 'regular_exporter' %}" class="navigation-main-link background--light-blue font-medium">Regular exporter</a></li>
              <li><a href="{% external_url 'export_opportunities' %}" title="Export opportunities" class="navigation-main-link">Export opportunities</a></li>
              <li><a href="{% external_url 'find_a_buyer' %}" title="Find a buyer" class="navigation-main-link navigation-main-link--active">Find a buyer</a></li>
              <li><a href="{% external_url 'selling_online_overseas' %}" title="Selling online overseas" class="navigation-main-link">Selling online overseas</a></li>
              <li><a href="" title="UK Export Finance" class="navigation-main-link">UK Export Finance</a></li>
              <li><a href="{% external_url 'events' %}" title="Export Events" class="navigation-main-link">Export events</a></li>
            </ul>
          </nav>
          <a class="button navigation-main-button font-white" title="" href=""><i class="icon icon-menu"></i>All</a>
        </div>
        <div class="navigation-toggle background--dark-navy">
          <div class="outer-container">
            <ul class="col-3">
              <li class="navigation-toggle-item navigation-toggle-services"><a title="new to exporting" href="{% external_url 'new_to_exporting' %}">New to exporting</a></li>
              <li class="navigation-toggle-item navigation-toggle-services"><a title="occasional exporter" href="{% external_url 'occasional_exporter' %}">Occasional exporter</a></li>
              <li class="navigation-toggle-item navigation-toggle-services"><a title="regular exporter" href="{% external_url 'regular_exporter' %}" class="last">Regular exporter</a></li>
            </ul>
            <ul class="col-3 navigation-toggle-middle">
              <li class="navigation-toggle-item"><a href="{% external_url 'export_opportunities' %}" title="Export opportunities">Export opportunities</a></li>
              <li class="navigation-toggle-item"><a href="{% external_url 'find_a_buyer' %}" title="Find a buyer">Find a buyer</a></li>
              <li class="navigation-toggle-item"><a href="{% external_url 'selling_online_overseas' %}" title="Selling online overseas" class="navigation-toggle-active">Selling online overseas</a></li>
            </ul>
            <ul class="col-3 navigation-toggle-middle">
              <li class="navigation-toggle-item"><a href="" title="UK Export Finance">UK Export Finance</a></li>
              <li class="navigation-toggle-item"><a href="{% external_url 'events' %}" title="Export Events">Export events</a></li>
            </ul>
            <ul class="col-3 navigation-toggle-middle">
              <li class="navigation-toggle-item"><a href="{% external_url 'about' %}" title="About">About</a></li>
              <li class="navigation-toggle-item"><a href="{% external_url 'contact_directory' %}" title="Contact us" class="last">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>