<section class="ed-hero-sub-header">
    <div class="container">
        <div class="row-fluid">
            <span class="span12 ed-hero-sub-header-title">
                <h1>Export Directory</h1>
            </span>
        </div>
        <div class="row-fluid ed-hero-sub-header-synopsis">
            <span class="span9">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
            </span>
        </div>
    </div>
</section>
