<div class="ed-landing-page-form-container ed-special-bottom-border">
	<div class="ed-landing-page-form-inner">
		<h2>Find the best UK exporters</h2>
		<p>
			Get access to the UK supply chain. Register to be notified as soon as companies that match your needs are live on the Find a Supplier service.
		</p>

		<div class="row-fluid">
			<form action="" method="post">
				<div class="row-fluid">
					<div class="span4">
						<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
							{{ form.full_name.errors }}
							<label for="{{ form.full_name.id_for_label }}">
								<b>{{ form.full_name.label }}</b>
								{{ form.full_name }}
							</label>
						</div>
					</div>

					<div class="span4">
						<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
							{{ form.email_address.errors }}
							<label for="{{ form.email_address.id_for_label }}">
								<b>{{ form.email_address.label }}</b>
								{{ form.email_address }}
							</label>
						</div>
					</div>

					<div class="span4">
						<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
							{{ form.sector.errors }}
							<label for="{{ form.sector.id_for_label }}">
								<b>{{ form.sector.label }}</b>
								{{ form.sector }}
							</label>
						</div>
					</div>
				</div>

				<hr class="custom-hr">

				<div class="row-fluid">
					<div class="span4 checkbox-tc {{ form.full_name.css_classes|default:'input-field-container' }}">
						{{ form.terms.errors }}
						<label for="{{ form.terms.id_for_label }}">
							<input id="{{ form.terms.id_for_label }}" name="{{ form.terms.html_name }}" type="checkbox" class="checkbox pull-left">
							<div class="checkbox-txt">
								{{ form.terms.label }}
							</div>
						</label>
					</div>

					<div class="span4 btn-container ed-landing-page-register-button-container">
						<button class="button">
							Register your interest
						</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>