{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
	<link href="{% static 'landing-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
fabhome
{% endblock %}

{% block content %}
	<section id="fabhome-intro" class="outer-container">
		<h1 class="element-within company-name-title">
			<span>{% trans "Get promoted internationally" %}</span>
			<span class="sub">{% trans "with a great.gov.uk trade profile" %}</span>
		</h1>
		<div>
			{% include 'register-company-number-form.html' %}
		</div>

		<p class="message">{% trans "Connect directly with international buyers" %}</p>
	</section>

	<section id="fabhome-benefits">
		<div class="outer-container">
			<h2 class="visuallyhidden">{% trans "Benefit of a trade profile" %}</h2>
			<p>{% trans "A great.gov.uk trade profile will:" %}</p>
			<ul>
				<li>{% trans "let international buyers get in touch with your company's sales team" %}</li>
				<li>{% trans "showcase your company's outstanding projects and experience to give buyers insight into what you do" %}</li>
				<li>{% trans "give your company international credibility by displaying independent data from Companies House" %}</li>
				<li>{% trans "give companies looking to buy from your industry an easy way to find you" %}</li>
			</ul>
			<img id="fabhome-screenshot" src="{% static 'images/960-FAS-preview-case-study-435px.png' %}" alt+"" />
		</div>
	</section>

	<section id="fabhome-howto">
		<div class="outer-container">
			<h2>{% trans "Get your profile in 3 simple steps" %}</h2>
			<ol>
				<li class="step1">
					<strong aria-describedby="step1desc">{% trans "Sign up" %}</strong>
					<span id="step1desc">{% trans "Enter your company number to start building your trade profile." %}</span>
				</li>

				<li class="step2">
					<strong aria-describedby="step2desc">{% trans "Verify your account" %}</strong>
					<span id="step2desc">{% trans "Ensure your company's security and give confidence to buyers." %}</span>
				</li>

				<li class="step3">
					<strong aria-describedby="step3desc">{% trans "Make a good impression" %}</strong>
					<span id="step3desc">{% trans "Add examples of your company's work to show your business at its best." %}</span>
				</li>
			</ol>
		</div>

		<div id="fabhome-howto-lookup-area" {% if user_has_company %}style="visibility: hidden;"{% endif %}>
			<div class="outer-container">
				{% include 'register-company-number-form.html' %}
			</div>
		</div>
	</section>
{% endblock content %}
