{% extends 'landing-page-international-sector-detail-base.html' %}
{% block title%}Food{% endblock %}
{% block synopsis %}
	<p>If you need innovative, high-quality food and drinks products and services, you need look no further than the UK.</p>
	<p>Whether you need hospitals built, primary care services managed, or you simply want reliable suppliers of the latest
	medical technology and pharmaceutical advances, the UK is the first place to look</p>
{% endblock %}

{% block company_list_title %}
	<h2>The UK’s premier food providers are on the Find a Supplier service</h2>
{% endblock %}
