{% extends './govuk_layout.html' %}
{% load static from staticfiles %}
{% block css %}
	<link href="{% static 'landing-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block hero_title %}
Lorem ipsum dolor sit amet consectetur
adipiscing elit sed do eiusmod tempor
{% endblock %}

{% block content %}
<div class="container">
	<div style="margin-top: -100px;">
		<div class="row-fluid">
			<div class="span12 great-blue-bar">
				<h1 class="element-within company-name-title">
					<span class="dont-break-out">Find a business partner</span>
				</h1>
			</div>
		</div>
		<div class="ed-landing-page-synopsis">
			<div class="row-fluid">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</p>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					</p>
					<p>
						Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</p>
				</div>
				<div class="span6">
					<img src="{% static 'images/international-landing-page-stat.png' %}" />
				</div>
			</div>
		</div>
	</div>

	<h1 class="ed-landing-page-read-more-subtitle">Read more on the UK’s sectors</h1>

	<div class="row-fluid">
		<div class="span6 ed-landing-page-sector-container">
			<div class="span4">
				<img class="ed-landing-page-sector-image" src="{% static 'images/sector-image.png' %}" />
			</div>
			<div class="span8">
				<h2>Sector name</h2>
				<p class="ed-landing-page-sector-synopsis">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
				</p>
				<p>
					<a href="#">Lorem ipsum dolor (In English)</a>
				</p>
			</div>
		</div>
		<div class="span6 ed-landing-page-sector-container">
			<div class="span4">
				<img class="ed-landing-page-sector-image"  src="{% static 'images/sector-image.png' %}" />
			</div>
			<div class="span8">
				<h2>Sector name</h2>
				<p class="ed-landing-page-sector-synopsis">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
				</p>
				<p>
					<a href="#">Lorem ipsum dolor (In English)</a>
				</p>
			</div>
		</div>
	</div>

	<div class="row-fluid ed-landing-page-see-more-button-container">
		<a href="{% url 'international-sector-list' %}" class="ed-landing-page-see-more-button">
			See more sectors
		</a>
	</div>

	{% include 'landing-page-international-form.html' %}

</div>
{% endblock content %}
