{% extends './govuk_layout.html' %}
{% load static from staticfiles %}
{% block css %}
	<link href="{% static 'landing-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block hero_title %}
Lorem ipsum dolor sit amet consectetur
adipiscing elit sed do eiusmod tempor
{% endblock %}

{% block content %}
<div class="container">
	<section style="margin-top: -100px; margin-bottom: 20px;">
		<div class="row-fluid">
			<div class="span12 great-blue-bar">
				<h1 class="element-within company-name-title">
					<span class="dont-break-out">{% block title%}{% endblock %}</span>
				</h1>
			</div>
		</div>
		<div class="ed-landing-page-synopsis">
			<div class="row-fluid">
				{% block synopsis %}{% endblock %}
			</div>
		</div>
	</section>

	<section class="ed-landing-page-sector-companies-list">
		<div class="row-fluid">
			{% block company_list_title %}{% endblock %}
		</div>

		<div class="row-fluid">
			{% for company in companies %}
				<div class="span4">
					<div class="row-fluid">
						<img class="ed-landing-page-sector-company-image" src="{{ company.image_url }}" />
					</div>
					<div class="row-fluid">
						<h2>{{ company.name }}</h2>
						<p class="ed-landing-page-sector-synopsis">
							{{ company.descrition }}
						</p>
						<p>
							<a href="{{ company.public_profile_url }}">Learn more</a>
						</p>
					</div>
				</div>
			{% endfor %}
			<div class="span4 ed-landing-page-find-other-companies-container">
				<h3>Find other great companies</h3>
				<p class="ed-landing-page-sector-synopsis">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni
				</p>
				<p>
					<div class="btn-container">
						<a class="button" href="#">
							Discover more
						</a>
					</div>
				</p>
			</div>
		</div>
	</section>

	<section class="ed-landing-page-sector-case-study-container">
		<div class="row-fluid">
			<h2>Recent projects</h2>
		</div>
		<div class="row-fluid">
			<img class="span12" src="{{ case_study.image_url }}" />
		</div>
		<div class="row-fluid">
			<h2>{{ case_study.title }}</h2>
		</div>
		<div class="row-fluid ed-landing-page-sector-case-study-inner">
			<div class="span4">
				<p>{{ case_study.synopsis }}</p>
				<p>
					<a href="{{ case_study.url }}">Read more</a>
				</p>
			</div>
			<div class="span4 ed-arrow_box ed-landing-page-case-study-testomonial-container">
				<p class="ed-landing-page-sector-synopsis">
					<b>"{{ case_study.testimonial }}"</b>
				</p>
				<div>{{ case_study.testimonial_name }}</div>
				<div>{{ case_study.testimonial_company }}</div>
			</div>
			<div class="span4 ed-landing-page-case-study-company-details">
				<p>
					<b>{{ case_study.company_name }}</b>
				</b>
				<p>
					<span>Sector: </span>
					<a href="{{ case_study.sector_url }}">{{ case_study.sector_name }}</a>
				</p>
				<p>
					<span>keywords: </span><i>{{ case_study.keywords }}</i>
				</p>
			</div>
		</div>
	</section>
	<section>

	</section>
	{% include 'landing-page-international-form.html' %}

</div>
{% endblock content %}
