{% extends 'directory_components/base.html' %}
{% load static %}
{% load directory_components %}

{% block head_title %}Business profile - great.gov.uk{% endblock %}

{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}fabhome{% endblock %}

{% block content %}

{% static 'images/FAB-Hero-2000x450-v3.png' as hero_image %}
{% hero_with_cta heading='Connect directly with international buyers' subtitle='Create a business profile on great.gov.uk.' image=hero_image cta_text='Start now' cta_link=enrolment_url %}

<section id="fabhome-benefits" class="with-flag padding-0">
  <div class="container padding-vertical-60">
    <div class="margin-bottom-60 width-half wrap-tight">
      <h2 class="heading-large">Your business profile on great.gov.uk will</h2>
    </div>
    <div class="grid-row">
      <ol class="column-half-l column-full-m column-third-xl padding-bottom-30 padding-right-30-m" id="benefits-column-left">
        <li>
          <h3 class="heading-medium margin-top-0">Let buyers find you</h3>
          <p>Give companies looking to buy from your industry an easy way to find you.</p>
        </li>
        <li>
          <h3 class="heading-medium">Showcase your company</h3>
          <p>Highlight your company's projects and experience to give buyers insight into what you do.</p>
        </li>
        <li>
          <h3 class="heading-medium">Pull in the right leads</h3>
          <p>Attract more business by connecting with the right international buyers.</p>
        </li>
      </ol>
      <div class="column-half-l column-full-m column-two-thirds-xl padding-bottom-30">
        <img class="width-full" src="{% static 'images/joe-seph.png' %}" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="background-stone-30 padding-vertical-45">
  <div class="container">
    <div id="fabhome-bottom" class="width-half">
      <h2 class="heading-large">Connect directly with international buyers</h2>
      <p id="create-business-profile-label-bottom" class="margin-bottom-45">
          Create a business profile on great.gov.uk.
      </p>
      <a class="button" href="{{ enrolment_url }}" aria-labelledby="create-business-profile-label-bottom">Start now</a>
    </div>
  </div>
</section>

{% endblock content %}
