{% extends './govuk_layout.html' %}
{% load staticfiles %}

{% block css %}
	<link href="{% static 'landing-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block content %}
	<div class="container ed-landing-page">
		<div class="row-fluid">
			<span class="span6">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</span>
		</div>
	</div>
{% endblock content %}
