{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% block css %}
	<link href="{% static 'landing-page.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block hero_title %}
The find a buyer service gives you direct access to the right people at the most innovative British companies that are ready to fulfil your business needs.
{% endblock %}

{% block content %}
<div class="container">
	<div class="ed-landing-page">

		<div class="row-fluid">
			<div class="span8 ed-landing-page-login-synopsis">
				<p>Sign up for notification of when new companies are added to the find a supplier service.</p>
			</div>
		</div>
		<br>
		<form action="/" method="post">
			<div class="row-fluid">
				<div class="span4">
					<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
						{{ form.full_name.errors }}
						<label for="{{ form.full_name.id_for_label }}">
							<b>{{ form.full_name.label }}</b>
							{{ form.full_name }}
						</label>
					</div>
				</div>

				<div class="span4">
					<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
						{{ form.email_address.errors }}
						<label for="{{ form.email_address.id_for_label }}">
							<b>{{ form.email_address.label }}</b>
							{{ form.email_address }}
						</label>
					</div>
				</div>

				<div class="span4">
					<div class="{{ form.full_name.css_classes|default:'input-field-container' }}">
						{{ form.sector.errors }}
						<label for="{{ form.sector.id_for_label }}">
							<b>{{ form.sector.label }}</b>
							{{ form.sector }}
						</label>
					</div>
				</div>
			</div>

			<hr class="custom-hr">

			<div class="row-fluid">
					<div class="span4 {{ form.full_name.css_classes|default:'input-field-container' }}">
					{{ form.terms.errors }}
					<label for="">
						<input id="" name="{{ form.terms.html_name }}" type="checkbox" class="checkbox pull-left">
						<div class="checkbox-txt">
							{{ form.terms.label }}
						</div>
					</label>
				</div>

				<div class="span4">
					<button class="register-interest-btn">
						Register your interest
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock content %}
