{% extends 'enrolment-base.html' %}
{% load staticfiles %}

{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block formarea_container_class %}span12{% endblock %}
{% block formarea %}
	<div class="container">
		<h1>Almost done. Verify your contact details</h1>
		<p>
			To verify your account you will receive an email with a link and a text message with a unique code.
		</p>
		<br>
		<p>
			Click the link in the email, and on the page you will be asked to enter the code from the text message.
		</p>
	</div>
{%endblock formarea %}
