{% load trans from i18n %}

<form class="register-company-number-form" method="post" action="{% url 'register' step='company-number' %}">
	<input name="enrolment_view-current_step" type="hidden" value="company-number">
	<label for="id_company_number">
		<span class="label">{% trans "Enter your company number" %}</span>
		<input name="company-number-company_number" class="text" type="text" placeholder="{% trans 'Companies House number' %}" />
	</label>
	<input class="button button-primary" type="submit" value="{% trans 'Get promoted' %}" />
</form>
