{% extends 'enrolment-base.html' %}
{% load staticfiles %}

{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block formarea %}
	<div class="outer-container">
		<h1>Creating your company profile</h1>
		<p>
			You will soon receive an email containing a link to your company profile once setup is complete. Click the link, or copy it and paste it into your browser’s address bar. This will take you to your company profile.
		</p>
	</div>
{%endblock formarea %}
