{% extends './govuk_layout.html' %}
{% load staticfiles %}

{% block css %}
	<link href="{% static 'registration.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block content %}
	<div class="container">
		<div class="clearfix"></div>

		<div class="row-fluid">
			<div class="span7 registration-intro-container">
				<div class="registration-intro">
					<div class="great-britain-logo">
						<img src="{% static 'images/great-britain-logo.png' %}" alt="">
					</div>
					<h1>{% block hero_title %}{% endblock %}</h1>
					<p class="intro-registration-text">{% block hero_text %}{% endblock %}</p>
					<h2>Learn | Grow | Connect</h2>
				</div>
			</div>
			{% block formarea %}
			{% endblock formarea %}
		</div>
	</div>
{%endblock content %}
