{% extends './govuk_layout.html' %}
{% load staticfiles %}

{% block css %}
	<link href="{% static 'registration.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block content %}
	<div class="container">
		<div class="registered">
			<h1>You have registered</h1>
			<h2>Thank you for registering</h2>
			<p>Now that you have registered, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Click <a class="teal" href="#">here</a> to learn more about <a class="teal" href="#">something interesting</a></p>
		</div>
	</div>
{%endblock content %}