{% extends "form-wrapper.html" %}
{% load static from staticfiles %}

{% block css %}
	<link href="{% static 'company-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block hero_title %}Confirm your company address - Find a Buyer - GREAT.gov.uk{% endblock %}
{% block form_title %}Verify your business address{% endblock%}
{% block button_next_label %}Next{% endblock%}
{% block button_finish_label %}Send{% endblock%}
{% block container_class %}ed-envelope-container{% endblock %}
{% block formarea_container_class %}span12{% endblock %}
{% block form_subtitle %}
	<p>Please check that the address is the most appropriate one for your business, and amend the details if necessary</p>

	<div class="ed-envelope">
		<div class="ed-stamp">
			<img src="{% static 'images/stamp.png' %}" /> 
		</div>
		<div class="ed-recipient">
			<div>
				<span style="min-width: 120px; display: inline-block;">{{ all_cleaned_data.postal_full_name }}</span>
				<button style="border-left: 2px solid#dedede;" name="wizard_goto_step" class="button-hyperlink" type="submit" value="{{ wizard.steps.prev }}">Edit</button></div>
			</br>
			<div>{{ all_cleaned_data.name }}</div>
			<div>{{ all_cleaned_data.address_line_1 }}</div>
			<div>{{ all_cleaned_data.address_line_2 }}</div>
			<div>{{ all_cleaned_data.locality }}</div>
			<div>{{ all_cleaned_data.country }}</div>
			<div>{{ all_cleaned_data.postal_code }}</div>
		</div>
	</div>

{% endblock form_subtitle %}