{% extends 'govuk_layout.html' %}
{% load static from staticfiles %}
{% load naturaltime from humanize %}
{% block css %}
	<link href="{% static 'company-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block hero_title %}Find a Buyer{% endblock %}
{% block content %}
<div class="container">
	<div class="company-profile-details-body">
		<!-- Company name, contact details & URLS -->
		<div class="row-fluid">
			<div class="span12 great-blue-bar">
				<h1 class="element-within company-name-title">
					<span class="dont-break-out">{{company.name}}</span>
				</h1>
				<div class="web-address element-within">
					{% if company.website %}
					<a href="{{company.website}}" class="arrow-link external-link-white dont-break-out" target="_blank">
						<span class="url pull-left">{{company.website}}</span>
						<span class="a11y pull-left">(Opens in a new window)</span>
					</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row-fluid company-profile-box company-hero">
			<!-- Company Logo area -->
			<div class="span3 company-logo">
				<div class="logo-container">
					<div class="logo">
						{% if company.logo %}
						<div class="description-content">
							<img src="{{company.logo}}" />
						</div>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- Key Facts -->
			<div class="span4 key-facts">
				<div class="company-details-subtitle">Key facts</div>
				<div>Last updated: {{company.modified|naturaltime}}</div>
				<div class="number-of-employees">
				{% if company.employees %}
					<div class="description-content">
						Number of employees: {{company.employees}}
					</div>
				{% endif %}
				{% if company.contact_details.email_address %}
					<p><a href="mailto:{{ company.contact_details.email_address }}?subject=International%20buyer%20contact%20via%20your%20great.gov.uk%20trade%20profile">Contact company</a></p>
				{% endif %}
				</div>
			</div>

			<!-- Company Details -->
			<div class="span4 company-details">
				<div class="company-details-subtitle">Company details</div>
				<div class="company-number-content" >Registration number: {{company.number}}</div>
				{% if company.date_of_creation %}
					<div>Incorporated: {{company.date_of_creation|date:'Y'}}</div>
				{% endif %}
			</div>
		</div>

		<!-- Company description area -->
		<div class="row-fluid">
			<div class="span12 mid-blue-bar">
				 <h2 class="element-within company-sub-title">Description</h2>
			</div>
		</div>
		<div class="row-fluid company-profile-box">
			<div class="span12">
				{% if company.description %}
				<div class="description-content">{{company.description}}</div>
				{% endif %}
			</div>
		</div>

		<!-- Company description area -->
		<div class="row-fluid">
			<div class="span12 mid-blue-bar">
				 <h2 class="element-within company-sub-title">Showcase</h2>
			</div>
		</div>
		<div class="row-fluid company-profile-box">
			<div class="span12">
				{% for case_study in company.supplier_case_studies %}
					<div class="span4">
						<div class="supplier-case-study-title">
							<a href="{% url 'company-case-study-view' id=case_study.pk %}">
								{{ case_study.title }}
							</a>
						</div>
						<div class="supplier-case-study-images">
							{% if case_study.image_one %}
							<img src="{{ case_study.image_one }}" />
							{% endif %}
							{% if case_study.image_two %}
							<img src="{{ case_study.image_two }}" />
							{% endif %}
							{% if case_study.image_three %}
							<img src="{{ case_study.image_three }}" />
							{% endif %}
						</div>
						<div class="supplier-case-study-description">
							{{ case_study.description }}
						</div>
						<div class="supplier-case-study-read-more-cta">
							<a href="{% url 'company-case-study-view' id=case_study.pk %}">Read more</a>
						</div>
					</div>
				{% endfor %}
				<div class="clearfix" style="margin-bottom: 20px;"></div>
			</div>
		</div>

		<div class="row-fluid group two-column-group">
			<div class="span6">
				<!-- Market sectors -->
				<div class="row-fluid">
					<div class="mid-blue-bar">
						 <h2 class="element-within company-sub-title">Export sectors</h2>
					</div>
				</div>
				<div class="company-profile-box">
					{% for sector in company.sectors %}
						{% if features.FEATURE_PUBLIC_PROFILES_ENABLED %}
							<a href="{% url 'public-company-profiles-list' %}?sectors={{sector.value}}" class="label stone-label" target="_blank">
								{{ sector.label }}
							</a>
						{% else %}
							<span class="label stone-label">
								{{ sector.label }}
							</span>
						{% endif %}
					{% endfor %}
					{% if company.sectors %}
					<div class="description-content"></div>
					{% endif %}
				</div>
			</div>

			<div class="span6">
				<!-- Company keywords -->
				<div class="mid-blue-bar">
					<h2 class="element-within company-sub-title">Keywords</h2>
				</div>
				<div class="company-profile-box">
					{% if company.keywords %}
					<div class="description-content">{{company.keywords}}</div>
					{% endif %}
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
