{% extends 'base.html' %}
{% load static from staticfiles %}
{% load chunk_list from company_tags %}
{% block head_css %}
	{{ block.super }}
	<link href="{% static 'company-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block hero_title %}Business profile{% endblock %}
{% block sub_header %}{% endblock %}
{% block content %}
<div class="outer-container">
	<div class="company-profile-details-body">

		{% if company.is_published %}
			<div class="grid-row company-profile-published">
				<div class="column-two-thirds">
					<h2 class="heading-large">Your company is published</h2>
					<p style="font-weight: 400;">Your profile is visible to international buyers</p>
				</div>
				<div class="column-one-third">
					<a href="{{ company.public_profile_url }}" target="_blank" class="ed-naked-button-primary">
						View published profile
					</a>
				</div>
			</div>
		{% elif not company.description or not company.summary %}
			<div class="grid-row company-profile-unpublished">
				<div class="column-two-thirds">
					<h2 class="heading-large">Your company has no description.</h2>
					<p style="font-weight: 400;">Your profile can't be published until your company has a description</p>
				</div>
				<div class="column-one-third">
					<a href="{% url 'company-edit-description' %}" class="ed-naked-button-error">
						Set your description
					</a>
				</div>
			</div>
		{% elif not company.email_address %}
			<div class="grid-row company-profile-unpublished">
				<div class="column-two-thirds">
					<h2 class="heading-large">Your company has no contact details.</h2>
					<p style="font-weight: 400;">Your profile can't be published. Buyers would be unable to contact you</p>
				</div>
				<div class="column-one-third">
					<a href="{% url 'company-edit-contact' %}" class="ed-naked-button-error">
						Set your contact email
					</a>
				</div>
			</div>
		{% elif not company.is_verified %}
			<div class="grid-row company-profile-unpublished">
				<div class="column-two-thirds">
					<h2 class="heading-large">Your company has not yet been verified.</h2>
					<p style="font-weight: 400;">Your profile can't be published until your company is verified</p>
				</div>
				<div class="column-one-third">
					<a href="{% url 'verify-company-hub' %}" class="ed-naked-button-error">
						Verify your company
					</a>
				</div>
			</div>
		{% endif %}


		<div class="grid-row">
			<div class="column-full great-blue-bar ed-has-edit-button">
				<h1 class="heading-xlarge">{{company.name}}</h1>
				<a class="ed-edit-button" href="{% url show_wizard_links|yesno:'company-edit,company-edit-key-facts' %}">
					<img src="{% static 'images/pencil-icon-white.png' %}" class="ed-icon-pencil" />
					<strong>Edit</strong>
				</a>
			</div>
		</div>

		<div class="grid-row company-profile-module-container">
			<div class="column-two-thirds company-profile-module-details">
				<div class="column-one-third company-logo company-profile-module-inner">
					<div class="logo-container">
						<div>
							<div class="ed-has-edit-button ed-company-profile-logo-container">	
								{% if company.logo %}
									<img src="{{company.logo}}" />
								{% endif %}
								<a class="ed-edit-button" href="{% url 'company-edit-logo' %}" style="bottom: 0; right: 5px; background: white; color: #004F95; padding: 5px;">
									<img src="{% static 'images/pencil-icon.png' %}" class="ed-icon-pencil" />
									<strong>Edit</strong>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="column-two-thirds company-contact-details company-profile-module-inner">
					<h3 class="heading-medium">Contact</h3>
					{% if company.website %}
						<p>
							<a href="{{ company.website}}">{{ company.website }}</a>
							<a href="{% url show_wizard_links|yesno:'company-edit,company-edit-contact' %}" class="ed-pencil-edit-button-container">
								<img src="{% static 'images/pencil-icon.png' %}" class="ed-icon-pencil" />
								<strong>Edit</strong>
							</a>
						</p>
					{% else %}
						<p>
							<a href="{% url show_wizard_links|yesno:'company-edit,company-edit-contact' %}">Add your website</a>
						</p>
					{% endif %}
					{% if company.email_address %}
						<p>
							<a href="mailto:{{ company.email_address }}?subject=International%20buyer%20contact%20via%20your%20great.gov.uk%20trade%20profile">{{ company.email_address }}</a>
							<a href="{% url 'company-edit-contact' %}" class="ed-pencil-edit-button-container">
								<img src="{% static 'images/pencil-icon.png' %}" class="ed-icon-pencil" />
								<strong>Edit</strong>
							</a>
						</p>
					{% else %}
						<p>
							<a href="{% url 'company-edit-contact' %}">Add your email</a>
						</p>
					{% endif %}
				</div>
			</div>
			<!-- .company-profile-module-details -->
			
			<div class="column-one-third ed-has-edit-button company-profile-module-inner  company-profile-module-facts">
				<h3 class="heading-medium">Facts &amp; details</h3>
				<a class="ed-edit-button" href="{% url show_wizard_links|yesno:'company-edit,company-edit-key-facts' %}" style="top: 20px; right: 35px; color: #004F95;">
					<img src="{% static 'images/pencil-icon.png' %}" class="ed-icon-pencil" />
					<strong>Edit</strong>
				</a>
				<p>Number of employees: {{ company.employees|default:'N/A' }}</p>
				<p>Registration number: {{company.number}}</p>
				{% if company.date_of_creation %}
					<p>Incorporated: {{company.date_of_creation|date:'Y'}}</p>
				{% endif %}
			</div>
		</div>

		<div class="grid-row company-profile-module-container">

			<div class="column-two-thirds ed-has-edit-button company-profile-module-inner company-description">
				<h3 class="heading-medium">Company description</h3>
				<a class="ed-edit-button" href="{% url 'company-edit-description' %}" style="top: 20px; right: 5px; color: #004F95;">
					<img src="{% static 'images/pencil-icon.png' %}" class="ed-icon-pencil" />
					<strong>Edit</strong>
				</a>
				{% if not company.summary %}
					<p><a href="{% url 'company-edit-description' %}">Add a description</a></p>
				{% else %}
					{{ company.summary|linebreaks }}
					{% if company.is_published %}
						<a href="{{ company.public_profile_url }}" target="_blank">
							Read full company profile
						</a>
					{% endif %}
				{% endif %}
			</div>

			<div class="column-one-third ed-has-edit-button company-profile-module-inner company-profile-module-social-links">
				<h3 class="heading-medium">Online profiles</h3>
				<a class="ed-edit-button" href="{% url 'company-edit-social-media' %}" style="top: 20px; right: 35px; color: #004F95;">
					<img src="{% static 'images/pencil-icon.png' %}" class="ed-icon-pencil" />
					<strong>Edit</strong>
				</a>
				<p>
					<img class="ed-social-icon" src="{% static 'images/icon-linkedin-white.png' %}">
					{% if company.linkedin_url %}
						<span>
							<a class="link" href="{{ company.linkedin_url }}" target="_blank">Visit LinkedIn</a>
						</span>
					{% else %}
						<span>
							<a class="link" href="{% url 'company-edit-social-media' %}">Add LinkedIn</a>
						</span>
					{% endif %}
				</p>
				<p>
					<img class="ed-social-icon" src="{% static 'images/icon-twitter.png' %}">
					{% if company.twitter_url %}
						<span>
							<a class="link" href="{{ company.twitter_url }}" target="_blank">Visit Twitter</a>
						</span>
					{% else %}
						<span>
							<a class="link" href="{% url 'company-edit-social-media' %}">Add Twitter</a>
						</span>
					{% endif %}
				</p>
				<p>
					<img class="ed-social-icon" src="{% static 'images/icon-facebook-white.png' %}">
					{% if company.facebook_url %}
						<span>
							<a class="link" href="{{ company.facebook_url }}" target="_blank">Visit Facebook</a>
						</span>
					{% else %}
						<span>
							<a class="link" href="{% url 'company-edit-social-media' %}">Add Facebook</a>
						</span>
					{% endif %}
				</p>
			</div>

		</div>

		<div class="grid-row">
			<div class="column-full great-blue-bar">
				<h2 class="heading-large">Recent projects</h2>
			</div>
		</div>

		<div class="ed-company-profile-sector-case-study-container company-profile-module-container">
			{% for group in company.supplier_case_studies|chunk_list:3 %}
				<div class="grid-row" style="margin-bottom: 0; border-top: 0;">
				{% for case_study in group %}
					<div class="column-one-third company-profile-module-inner">
						<div class="grid-row">
							<div class="supplier-case-study-images column-full">
								<img src="{{ case_study.image_one }}" />
							</div>
						</div>
						<div class="grid-row">
							<div class="column-full">
								<h4 class="h4">{{ case_study.title }}</h4>
							</div>
						</div>
						<div class="grid-row ed-company-profile-sector-case-study-inner">
							<div class="column-full">
								<p>
									{% if case_study.summary %}
										{{ case_study.summary|linebreaks }}
									{% elif case_study.description %}
										{{ case_study.description|truncatechars:200|linebreaks }}
									{% endif %}
								</p>
								<a class="ed-edit-button" href="{% url 'company-case-study-edit' id=case_study.pk %}" style="color: #004F95;">
									<img src="{% static 'images/pencil-icon.png' %}" class="ed-icon-pencil" />
									<strong>Edit</strong>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			{% endfor %}
		</div>

		<div class="ed-company-profile-add-case-study-button-container" style="color: #004F95;">
			<a href="{% url 'company-case-study-create' %}" class="ed-company-profile-add-case-study-button">
				<span>+ Add a case study</span>
			</a>
		</div>

		<div class="group two-column-group ed-special-bottom-border">
			<div class="grid-row company-profile-module-container" style="margin-bottom: 0; border-bottom: 0;">
				<div class="column-one-half">
					<div style="margin-bottom: 0;">
						<div class="company-profile-module-inner ed-has-edit-button">
							<h3 class="heading-medium">Core Sector</h3>
							<a class="ed-edit-button"  style="top: 20px; right: 20px; color: #004F95;" href="{% url show_wizard_links|yesno:'company-edit,company-edit-sectors' %}">
								<img src="{% static 'images/pencil-icon.png' %}" class="ed-icon-pencil" />
								<strong>Edit</strong>
							</a>
							<p>
							{% for sector in company.sectors %}
								<span class="stone-label">
									{{ sector.label }}
								</span>
							{% empty %}
								<p><a href="{% url show_wizard_links|yesno:'company-edit,company-edit-sectors' %}">Choose sector</a></p>
							{% endfor %}
							</p>
							{% if company.sectors %}
							<div class="description-content"></div>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="column-one-half">
					<div style="margin-bottom: 0;">
						<div class=" company-profile-module-inner ed-has-edit-button">
							<h3 class="heading-medium">Keywords</h3>
							<a class="ed-edit-button" href="{% url show_wizard_links|yesno:'company-edit,company-edit-key-facts' %}" style="top: 20px; right: 20px; color: #004F95;">
								<img src="{% static 'images/pencil-icon.png' %}" class="ed-icon-pencil" />
								<strong>Edit</strong>
							</a>
							{% for keyword in company.keywords %}
								<a href="{{ SUPPLIER_SEARCH_URL }}?term={{ keyword }}" target="_self" class="ed-keyword">{{ keyword }}</a>{% if not forloop.last %}, {% endif %}
							{% empty %}
								<p><a href="{% url show_wizard_links|yesno:'company-edit,company-edit-key-facts' %}">Add keywords</a></p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		{% if company.is_published %}

			<div class="ed-company-profile-add-case-study-button-container">
				<a href="{{ company.public_profile_url }}" target="_blank" class="ed-filled-button-primary">
					<span>View your published profile on our International Find a Supplier website</span>
				</a>
			</div>
		{% endif %}

	</div>
</div>
{% endblock %}
