{% extends "form-wrapper.html" %}

{% block hero_title %}Build and improve your company profile{% endblock %}
{% block hero_text %}Add your company details to help others find you.{% endblock %}
{% block form_title %}Build and improve your profile{% endblock%}
{% block button_next_label %}Next{% endblock%}
{% block button_finish_label %}Save{% endblock%}
{% block form_subtitle %}
<p>
	To set up your Find a Buyer profile, enter your company’s basic details, then choose which sectors you’re interested in.
</p>
<p>
	You can add extra information and a company logo to complete your profile. You can edit your profile at any time.
</p>
<p>
	From early 2017, your company profile will be published online and promoted to international buyers.
</p>
<br>
<h2 class="h2 push--bottom">Your company details</h2>
{% endblock form_subtitle %}