{% extends 'govuk_layout.html' %}
{% load staticfiles %}
{% block css %}
	<link href="{% static 'company-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block hero_title %}Find a Supplier{% endblock %}
{% block content %}
<div class="clearfix"></div>
<div class="container">
	<div class="company-profile-details-body">
		{% for company in companies.results %}
		<div>
			<!-- Company name, contact details & URLS -->
			<div class="row-fluid">
				<div class="span12 great-blue-bar">
					<a href="{% url 'public-company-profiles-detail' company_number=company.number %}">
						<h1 class="element-within company-name-title">
							<span class="dont-break-out">{{company.name}}</span>
						</h1>
					</a>
					<div class="web-address element-within">
						<a href="{% url 'public-company-profiles-detail' company_number=company.number %}" class=" dont-break-out" target="_blank">
							<span class="url pull-right">View profile</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row-fluid company-profile-box company-hero">
				<!-- Company Logo area -->
				<div class="span3 company-logo">
					<div class="logo-container">
						<div class="logo">
							{% if company.logo %}
							<a class="no-focus-highlight" href="{% url 'public-company-profiles-detail' company_number=company.number %}" target="_blank">
								<img src="{{company.logo}}" />
							</a>
							{% endif %}
							<a href="{% url 'company-edit-logo' %}" target="_self">
							</a>
						</div>
					</div>
				</div>

				<!-- At a glance -->
				<div class="span8 key-facts">
					<div class="company-details-subtitle">At a glance</div>
					<div class="number-of-employees">
					{% if company.employees %}
						<div class="description-content">
							Number of employees: {{company.employees}}
						</div>
					{% endif %}
					{% if company.date_of_creation %}
						<div>Date incorporated: {{company.date_of_creation}}</div>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
