{% extends 'govuk_layout.html' %}
{% load staticfiles %}
{% load naturaltime from humanize %}
{% block css %}
	<link href="{% static 'company-profile-details.css' %}" media="all" rel="stylesheet" />
{% endblock %}
{% block hero_title %}{% endblock %}
{% block content %}
<div class="clearfix"></div>
<div class="container">
	<div class="company-profile-details-body">
		<div class="public-company-profiles-search-form row-fluid">
			<div class="span12 great-blue-bar">
				<h1 class="element-within company-name-title">
					<span class="dont-break-out">Find a supplier</span>
				</h1>
			</div>
			<div class="clearfix"></div>
			<form action="" method="get">
				<div class="input-field-container">
					{{ form.as_ul }}
				</div>
				<div class="form-wrapper-btn-container btn-container">
					<input class="register-btn button" type="submit" value="Search">
				</div>
				</div>
			</form>
		</div>
		{% if form.is_bound %}
			{% if companies %}
				<h2>Displaying {{ companies|length }} of {{ pagination.paginator.count }} '{{ selected_sector_label }}' {{companies|length|pluralize:'company,companies'}}</h2>
			{% else %}
				<h2>No companies found</h2>
			{% endif %}
		{% endif %}
		{% for company in companies %}
		<div class="public-company-profiles-result-item">
			<div class="row-fluid">
				<div class="span12 great-blue-bar">
					<a href="{% url 'public-company-profiles-detail' company_number=company.number %}">
						<h1 class="element-within company-name-title">
							<span class="dont-break-out">{{company.name}}</span>
						</h1>
					</a>
					<div class="web-address element-within">
						<a href="{% url 'public-company-profiles-detail' company_number=company.number %}" class=" dont-break-out" target="_blank">
							<span class="url pull-right">View profile</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row-fluid company-profile-box company-hero">
				<!-- Company Logo area -->
				<div class="span3 company-logo">
					<div class="logo-container">
						<div class="logo">
							{% if company.logo %}
							<a class="no-focus-highlight" href="{% url 'public-company-profiles-detail' company_number=company.number %}" target="_blank">
								<img src="{{company.logo}}" />
							</a>
							{% endif %}
							<a href="{% url 'company-edit-logo' %}" target="_self">
							</a>
						</div>
					</div>
				</div>

				<!-- At a glance -->
				<div class="span8 key-facts">
					<div class="company-details-subtitle">At a glance</div>
					<div class="number-of-employees">
						{% if company.employees %}
							<p class="description-content">
								Number of employees: {{company.employees}}
							</p>
						{% endif %}
						{% if company.date_of_creation %}
							<p>Incorporated: {{company.date_of_creation|date:'Y'}}</p>
							<p>Last updated: {{company.modified|naturaltime }}</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% if companies %}
			<div class="pagination">
				<span class="step-links">
					{% if pagination.has_previous %}
						<a href="?sectors={{ form.cleaned_data.sectors }}&page={{ pagination.previous_page_number }}">Previous page</a>
					{% endif %}

					<span class="current">
						Page {{ pagination.number }} of {{ pagination.paginator.num_pages }}.
					</span>

					{% if pagination.has_next %}
						<a href="?sectors={{ form.cleaned_data.sectors }}&page={{ pagination.next_page_number }}">Next page</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
	</div>

</div>
{% endblock %}
