{% extends "registration-base.html" %}

{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block hero_title %}Join the UK Exporter Directory{% endblock %}
{% block hero_text %}
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
{% endblock %}

{% block formarea %}
	<form class="span5" action="" method="post">
		<div class="connections-platform-form">
			<h2>Register</h2>
			{% csrf_token %}
			<div class="input-field-container">
				{{ wizard.management_form }}
				{% if wizard.form.forms %}
					{{ wizard.form.management_form }}
					{% for form in wizard.form.forms %}
						{{ form }}
					{% endfor %}
				{% else %}
					{{ wizard.form }}
				{% endif %}
			</div>
			<div class="register-btn-container">
				<input class="register-btn" type="submit" value="{% trans "Register" %}"/>
			</div>
			<div class="already-registered">Already registered? <a href="#">Sign in</a></div>
			<div class="steps">
				{% for step in wizard.steps.all %}
					{% if wizard.steps.current == step %}
						<span>&#9679;</span>
					{% else %}
						<span>&#9675;</span>

					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="clearfix"></div>
	</form>
{% endblock %}