{% extends './govuk_layout.html' %}

{% load staticfiles %}

{% block bodyScripts %}

	<script src="{% static 'vendor/jquery.min.js' %}"></script>
	<script src="{% static 'govuk-toolkit/js/selection-buttons.js' %}"></script>

	<script>
		new GOVUK.SelectionButtons( "label input[type='radio'], label input[type='checkbox']" );
	</script>

{% endblock bodyScripts %}

{% block content %}

	{% if form.errors %}
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

		<h1 class="heading-medium error-summary-heading" id="error-summary-heading">
			There was an error saving your answers, please check below.
		</h1>

		<ul class="error-summary-list">
			{% if form.contact_name.errors %}
				<li><a href="#contact-name-group">There was an issue with your contact name.</a></li>
			{% endif %}
			{% if form.email_address1.errors %}
				<li><a href="#email-address-group">There was an issue with your email address.</a></li>
			{% endif %}
			{% if form.email_address2.errors %}
				<li><a href="#confirm-email-group">There was an issue with your confirmation email address.</a></li>
			{% endif %}
			{% if form.mobile_number.errors %}
				<li><a href="#mobile-group">There was an issue with your mobile phone number.</a></li>
			{% endif %}
			{% if form.company_name.errors %}
				<li><a href="#company-name">There was an issue with your company name.</a></li>
			{% endif %}
			{% if form.exporting.errors %}
				<li><a href="#exporting-header">Please answer if you are currently exporting.</a></li>
			{% endif %}
			{% if form.agree_terms.errors %}
				<li><a href="#understand-label">Please agree to the terms.</a></li>
			{% endif %}
		</ul>

	</div>
	{% endif %}

	<h1 class="heading-xlarge">Company Questions</h1>
	<p class="lede">
		Please tell us about your company and how to contact you.
	</p>


	<h2 class="heading-large">Contact information</h2>


	<form action="/" method="POST" class="data-form" id="data-form">

		<fieldset>
			<legend class="visually-hidden">Contact information</legend>

			<div class="form-group{% if form.contact_name.errors %} error{% endif %}" id="contact-name-group">
				<label class="form-label" for="contact-name">
					Contact name
					{% include 'label-error.html' with field=form.contact_name %}
				</label>
				<input class="form-control" id="contact-name" type="text" name="contact_name" value="{{ form.contact_name.value|default_if_none:"" }}">
			</div>

			<div class="form-group{% if form.email_address1.errors %} error{% endif %}" id="email-address-group">
				<label class="form-label" for="email-address">
					Email address
					{% include 'label-error.html' with field=form.email_address1 %}
				</label>
				<input class="form-control" id="email-address" type="text" name="email_address1" value="{{ form.email_address1.value|default_if_none:"" }}">
			</div>

			<div class="form-group{% if form.email_address2.errors %} error{% endif %}" id="confirm-email-group">
				<label class="form-label" for="confirm-email">
					Confirm email address
					{% include 'label-error.html' with field=form.email_address2 %}
				</label>
				<input class="form-control" id="confirm-email" type="text" name="email_address2" value="{{ form.email_address2.value|default_if_none:"" }}">
			</div>

			<div class="form-group contact-number" id="mobile-group">
				<label class="form-label" for="mobile">
					Phone number (optional)
					{% include 'label-error.html' with field=form.phone_number %}
				</label>
				<input class="form-control" id="mobile" type="text" name="phone_number" value="{{ form.phone_number.value|default_if_none:"" }}">
			</div>

		</fieldset>



		<h2 class="heading-large">Company information</h2>

		<fieldset>
			<legend class="visually-hidden">Company Information</legend>

			<div class="form-group">
				<label class="form-label" for="company-name">Company name</label>
				<input class="form-control" id="company-name" type="text" name="company_name" value="{{ form.company_name.value|default_if_none:"" }}">
			</div>

			<div class="form-group">
				<label class="form-label" for="website">Website</label>
				<input class="form-control" id="website" type="text" name="website" value="{{ form.website.value|default_if_none:"" }}">
			</div>
		</fieldset>

		<h3 class="heading-medium" id="exporting-header">Currently exporting</h3>

		<div class="radio-group">
		<div class="form-group{% if form.exporting.errors %} error{% endif %}">

			<fieldset class="inline">

				<legend class="visually-hidden">Currently Exporting</legend>

				{% include 'label-error.html' with field=form.exporting %}

				<label class="block-label" for="currently-exporting-yes">
					<input id="currently-exporting-yes" type="radio" name="exporting" value="True"{% if form.exporting.value == 'True' %} checked{% endif %}>
					Yes
				</label>
				<label class="block-label" for="currently-exporting-no">
					<input id="currently-exporting-no" type="radio" name="exporting" value="False"{% if form.exporting.value == 'False' %} checked{% endif %}>
					No
				</label>

			</fieldset>
		</div>
		</div>

		<h2 class="heading-large">Agreement</h2>


			<fieldset>

				<legend class="visually-hidden">
					Agreement
				</legend>
				 
				
				<p>Your application for pre-registration will be dealt with in accordance with our <a href="/terms_and_conditions">Terms of Use and Privacy Statement.</a></p>

				<p>Once we have considered your application, we will contact you with details about the next steps and with news about the planned launch of the [Export Directory].</p>

				<p>In addition, if you would like to hear about other similar campaigns which we run, or services which we offer to support UK exporters, please tick the appropriate box below</p>

				<div class="form-group{% if form.agree_terms.errors %} error{% endif %}">	
					{% include 'label-error.html' with field=form.agree_terms %}
					<label class="block-label" for="understand" id="understand-label">
					  <input id="understand" name="agree_terms" type="checkbox" value="True"{% if form.agree_terms.value == True %} checked{% endif %}>
					  I understand the above and I’m happy to proceed with pre-registration.
					</label>
				</div>

				<label class="block-label" for="keep-informed">
				  <input id="keep-informed" name="opt_in" type="checkbox" value="agree"{% if form.opt_in.value == True %} checked{% endif %}>
				  please keep me informed about UKTI&#39;s other campaigns and services.
				</label>
				
			</fieldset>


		<input class="button save-button" type="submit" value="Save">
	</form>

{% endblock content %}