{% extends './govuk_layout.html' %}

{% block content %}

<h1 class="heading-large">Terms of Use</h1>

<ol class="list list-number">
	<li>
		These Terms of Use explain how UK Trade and Investment (&quot;we&quot; or &quot;us&quot;) manages your pre-registration for the [Exporting is Great Directory] (&quot;Directory&quot;).
	</li>
	<li>
		We are a UK Government department which works with businesses based in the UK to help them find success in international markets, and with overseas investors who are looking to invest in the UK.
	</li>
	<li>
		The Directory will be a publicly accessible database with key information about UK businesses who export goods or services. This form is an application to pre-register for inclusion on the Directory.
	</li>
	<li>
		By submitting this form to us, you agree to comply with and be bound by these terms. In addition, you agree to us using the information provided in this form, including any personal information, in accordance with the Privacy Statement set out below.
	</li>
	<li>
		We reserve the right to determine, at our sole discretion, whether the information you submit to us is suitable for inclusion on the Directory.
	</li>
	<li>
		We also reserve the right to either delay the launch of the Directory, or to cancel the project in its entirety if we no longer deem it feasible for whatever reason. In those circumstances, we will use reasonable endeavours to notify you of that decision, for instance by email or by posting an announcement on our website.
	</li>
	<li>
		By submitting information to us, you warrant that, to the best of your knowledge, that information is true and accurate.
	</li>
	<li>
		You hereby grant us a perpetual, worldwide, non-exclusive, royalty-free, transferable licence to use, reproduce, distribute, prepare derivative works of, display, and perform the information submitted to us for the purposes of launching and maintaining the Directory. You also grant us the right to use the information for the purposes of promoting the Directory, and for carrying out research and analysis relating to the Directory or to exporting businesses in general.
	</li>
	<li>
		Except where expressly stated, any information which you submit for inclusion on the Directory will be considered non-confidential and non-proprietary. You retain all of your ownership rights in your content (subject to the licence granted to us at Paragraph 8), but you understand and expressly permit us to make the information you submit available to third parties on a publicly accessible platform.
	</li>
	<li>
		We reserve the right to amend or supplement these Terms of Use at any time. In particular, we recommend that you review the Terms of Use in place once the Directory has launched.
	</li>
</ol>


<h2 class="heading-medium">Privacy Statement</h2>

<p>
	This Privacy Statement explains how we use the information you submit to us, including any personal information, in relation to the Directory. We value your trust and your privacy is important to us, so we will keep your information secure and manage it in accordance with our legal responsibilities. By providing us with information, you agree to it being used and disclosed in the manner set out in this Statement.
</p>

<h3 class="heading-small">What information do we collect and what do we use it for?</h3>

<p>We collect information we need in order to consider your application for pre-registration on the Directory. Ultimately, we may use this same information to create an entry relating to your business on the Directory:</p>

<ul class="list list-bullet">
	<li>Company name;</li>
	<li>Company address;</li>
	<li>Contact name;</li>
	<li>Email address;</li>
	<li>Telephone number;</li>
	<li>Website;</li>
	<li>Preferred contact channel;</li>
	<li>Companies house number;</li>
	<li>Sector</li>
	<li>Product or service offered;</li>
	<li>Description of product or service.</li>
</ul>

<p>[Whilst you are not required to provide all of this information to us, the more information you provide, the more successful your entry on the Directory is likely to be.]</p>

<p>You understand that, if your application for pre-registration is successful, the information above will be included on a publicly accessible platform.</p>

<p>We also ask you for some additional information. This information is not for inclusion on the Directory, but will be used by trained professionals within our organisation to research and analyse the behaviour and make-up of exporting businesses, in order to produce relevant reports. Any reports produced will only include aggregated data, from which it will not be possible to identify individuals or individual businesses. The additional information we request is as follows:</p>

<ul class="list list-bullet">
	<li>Exporting experience;</li>
	<li>Frequency of exports;</li>
	<li>Turnover accountable to exports;</li>
	<li>Destinations to which you export;</li>
	<li>Range of export destinations.</li>
</ul>

<h3 class="heading-small">Who else do we provide your information to?</h3>

<p>In determining your application for pre-registration, your information may be reviewed by a number of members within our team, and by members of other UK Government departments.</p>

<p>[Creation of the Directory requires assistance from third party service providers, for example hosting services and developers, and we may need to disclose your information to these third parties.]</p>

<p>Upon launch, the Directory will be a publicly accessible platform. Therefore, if an entry relating to your business is included, your information will be freely accessible on that basis.</p>

<h3 class="heading-small">Contacting you</h3>

<p>We may contact you from time to time to update you on your application for pre-registration, and with news about the progress of the Directory.</p>

<p>Subject to the prior provision of your consent to do so, we may also use your contact details to get in touch with you in relation to other campaigns we are running as the UK&#39;s exporting champion, or to highlight export opportunities which may suit your business. You may opt out of these additional communications at any time by using the unsubscribe link included in our emails, or by writing to us at the address set out below.</p>

<h3 class="heading-small">Keeping your information secure</h3>

<p>We are committed to handling your personal information and data with integrity and care and invest appropriate resources to protect your personal information, from loss, misuse, unauthorised access, modification or disclosure. However, in relation to the Directory, no internet-based platform can be 100% secure and so there is always a risk for unauthorised or unintended access to your information by third parties that is beyond our control.</p>

<h3 class="heading-small">Your rights to your personal information</h3>

<p>In respect of any personal information (or &quot;personal data&quot;) provided to us for pre-registration, and subsequently as included on the Directory, we are the data controller for the purposes of the Data Protection Act 1998.</p>

<p>You can:</p>

<ol class="list list-roman">
	<li>
		request a copy of your personal information from us, together with details about how we use that information, subject to a fee of £10 which is payable in advance; and
	</li>

	<li>
		if you think any of the personal information we hold about you is inaccurate, you may request it is corrected.
	</li>
</ol>

<p>If you want to take either of the above actions, please contact us at [CONTACT DETAILS]. We will endeavour to respond to your requests within all applicable timeframes.</p>

{% endblock content %}