{% extends './directory_layout.html' %}
{% load staticfiles %}

{% block content %}
<div class="grid-row grid-row--great">
	<div class="column-two-thirds">
		<h1 class="heading-large">Congratulations - your company is now registered</h1>
		<a href="https://www.exportingisgreat.gov.uk/">
			<img class="exporting-logo" src="{% static "images/exporting-is-great-logo.png" %}" alt="Exporting is Great" height="100">
		</a>
		<p class="lede">Thank you for your request to join the UK Exporter Directory. You're one of the first companies to register for worldwide promotion by the Department for International Trade.</p>
		<p>
			The Department for International Trade will contact you with information about the launch of the Directory.
		</p>
		<p style="font-weight: bold;">
			To see the latest opportunities for exporters, visit <a href="https://www.exportingisgreat.gov.uk/">Exporting is GREAT</a>.
		</p>
		<p style="font-weight: bold;">
			Find out how to <a href="https://www.gov.uk/starting-to-export/overview">get started exporting</a>.
		</p>
	</div>
</div>

{% endblock content %}
