{% extends './govuk_layout.html' %}

{% block content %}

	<h1 class="heading-large">Thank you</h1>

	<p class="lede">Thank you for requesting an entry in the directory of UK exporters.</p>
	<p>
		The Department of Trade and Investment will contact you with information about the launch of the directory.
	</p>
	<p>
		To see the latest opportunities for exporters, visit <a href="https://www.exportingisgreat.gov.uk/">Exporting is GREAT</a>.
	</p>
	<p>
		Find out how to <a href="https://www.gov.uk/starting-to-export/overview">get started exporting</a>.
	</p>

{% endblock content %}