@import 'main.scss';

.company-profile-details-body {
  margin-bottom: -100px;
  position: relative;
  top: -100px;
  h3 {
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .company-profile-box {
    border: 1px solid #DFD5C5;
    padding: 24px;
    min-height: 90px;
    margin-bottom: 30px;
    li {
      list-style: initial;
    }
  }
  .company-hero {
  }
  ul {
    li {
      list-style-type: disc; 
    }
  }
}

.company-details-subtitle {
  color: $great-blue;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.company-profile-box {
  min-height: 70px;
  background: #F6F4F1;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.company-logo {
  .logo-container {
    display: table;
    height: 140px;
    .logo {
      display: table-cell;
      vertical-align: middle;
    }
    img {}
    @media (max-width: 767px) {
    }
  }
}

.two-column-group {
  margin-bottom: 20px;
  overflow: hidden;
}

.great-blue-bar {
  background: $great-blue;
  display: table!important;
  height: 80px;
  padding: 0 24px;
  .company-name-title {
    color: $white;
    font-size: 36px;
    font-weight: 500;
  }
  .element-within {
    display: table-cell;
    float: none;
    vertical-align: middle;
    a {
      color: $white;
      &:focus {
        background: #007EA3;
      }
    }
  }
  @media (max-width: 767px) {
    .element-within {
      display: block;
    }
  }
}

.mid-blue-bar {
  background: $mid-blue;
  color: $white;
  display: table!important;
  height: 60px;
  padding: 0 24px;
  width: 100%;
  .company-sub-title {
    color: $white;
    font-size: 24px;
    font-weight: 500;
  }
  .element-within {
    display: table-cell;
    float: none;
    vertical-align: middle;
    a {
      color: $white;
      &:focus {
        background: #007EA3;
      }
    }
  }
  @media (max-width: 767px) {
    .element-within {
      display: block;
    }
  }
}

.web-address {
  text-align: right;
  @media (max-width: 767px) {
    text-align: left;
  }
}

.company-profile-details-hero-container {
  margin-bottom: 30px;
  background: #D8D8DA;
}

.company-profile-details-hero-logo {
  @media (max-width: 767px) {
    text-align: center
  }
  img {
      height: 154px;
  }
}

.company-profile-details-hero-title {
  padding: 22px;
}

.stone-label {
  background: $stone;
  border-radius: 6px;
  color: $mid-grey;
  font-size: 1em;
  font-weight: 300;
  margin: 0 5px 8px 0;
  padding: 9px 12px;
}

.company-profile-details-hero-edit-button {
  bottom: 0;
  padding-bottom: 20px;
  position: absolute;
  right: 20px;
  a {
    color: white;
  }

  @media (max-width: 767px) {
    left: 0;
    margin-top: 20px;
    position: relative;
  }
}