@import 'main.scss';

.company-profile-details-body {
  position: relative;
  h3 {
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .company-profile-module-container {
    border: 1px solid #DFD5C5;
    margin-bottom: 20px;
    li {
      list-style: initial;
    }
  }
  .company-profile-module-inner {
    padding: 20px;
    min-height: 135px;
    h3 {
      font-weight: 100;
      margin-bottom: 20px;
    }
  }
  ul {
    li {
      list-style-type: disc; 
    }
  }
}

.company-details-subtitle {
  color: $great-blue;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.company-profile-box {
  min-height: 70px;
  background: #F6F4F1;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  @media (max-width: 767px) {
    .key-facts {
      margin-bottom: 20px;
    }
  }
  .description-content,
  .company-number-content {
    margin-bottom: 10px;
  }
}

.company-logo {
  .logo-container {
    display: table;
  }
}

.two-column-group {
  margin-bottom: 20px;
  overflow: hidden;
}

.mid-blue-bar {
  background: $mid-blue;
  color: $white;
  display: table!important;
  height: 60px;
  padding: 0 24px;
  width: 100%;
  .company-sub-title {
    color: $white;
    font-size: 24px;
    font-weight: 500;
  }
  .element-within {
    display: table-cell;
    float: none;
    vertical-align: middle;
    a {
      color: $white;
      &:focus {
        background: #007EA3;
      }
    }
  }
  @media (max-width: 767px) {
    .element-within {
      display: block;
    }
  }
}

.web-address {
  width: 40%;
  a {
    span.url {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 90%;
      height: 18*1.4*1px; /* Fallback for non-webkit 25.2*/
      margin: 0 auto;
      font-size: 18px;
      line-height: 1.4;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
        text-decoration: none;
      }
    }

    @media (max-width: 767px) {
      text-align: left;
    }
  } 
  @media (max-width: 767px) {
    margin-bottom: 20px;
    width: 100%;
  }
}

.company-profile-details-hero-container {
  margin-bottom: 30px;
  background: #D8D8DA;
}

.company-profile-details-hero-logo {
  @media (max-width: 767px) {
    text-align: center
  }
  img {
      height: 154px;
  }
}

.company-profile-details-hero-title {
  padding: 22px;
}

.stone-label {
  background: $stone;
  border-radius: 6px;
  color: $mid-grey;
  font-size: 1em;
  font-weight: 300;
  margin: 0 5px 8px 0;
  padding: 9px 12px;
}

.company-profile-details-hero-edit-button {
  bottom: 0;
  padding-bottom: 20px;
  position: absolute;
  right: 20px;
  a {
    color: white;
  }

  @media (max-width: 767px) {
    left: 0;
    margin-top: 20px;
    position: relative;
  }
}

.supplier-case-study-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.supplier-case-study-images {
  margin-bottom: 20px;
  text-align: center;
  img {
    vertical-align: top;
  }
}

.public-company-profiles-search-form {
  border: 1px solid #1E1348;
  margin-bottom: 20px;
  background: #fafafa;
  .great-blue-bar {
    margin-bottom: 20px;
  }
  form {
    padding-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .form-wrapper-btn-container {
    margin: 0;
    margin-bottom: 20px;
  }
  .input-field-container {
    margin-bottom: 20px;
    li {
      list-style: none;
    }
  }
}

.public-company-profiles-result-item {
  margin-bottom: 20px;
  border: 1px solid #1E1348;
}

.supplier-case-study-read-more-cta {
  margin-top: 20px;
}

.supplier-case-study-container {
  .supplier-case-study-description {
    padding: 20px;
  }
  .supplier-case-study-testimonail-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .supplier-case-study-view-profile-container {
    margin-top: 20px;
  }
}

.company-profile-invisible-banner {
  padding: 20px;
  color: #B00D23;
  font-weight: bold;
}

.ed-company-profile-add-case-study-button-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ed-company-profile-add-case-study-button {
  border: 3px solid #007EA3;
  color: #007EA3;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: block;
}

.ed-company-profile-logo-container {
  border: 1px solid #dedede;
  min-width: 140px;
  height: 140px;
  img {
    max-height: 140px;
  }
}

.ed-company-profile-sector-case-study-container {
  margin-bottom: 20px;

  img {
    padding: 0
  }
  .ed-company-profile-sector-case-study-inner {
    margin-bottom: 20px;
  }
  .ed-company-profile-case-study-testomonial-container {
    background: #EDEDED;
    padding: 20px;
  }
  .ed-company-profile-case-study-company-details {
    background: #007EA3;
    padding: 20px;
    color: white;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}