$asset-path: '../';

@import 'main.scss';

.ed-enrolment {
  margin-top: 40px;
  margin-bottom: 40px;
  input[readonly] {
    border-color: #fafafa;
    background-color: #eee
  }
  h1 { 
    margin-bottom: 40px;
  }
  color: #4a4a4a;
  form {
    margin-bottom: 0;
    .connections-platform-form {
      .already-registered {
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .steps {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #4a4a4a;
    span {
      font-family: initial;
      font-size: 3em;
      line-height: 1;
    }
  }

}

@media (max-width: 992px) {
  .connections-platform-form-container {
    width: 100%;
    .connections-platform-form {
      height: 100%;
      margin: 40px 0 0;
      input.register-btn {
        width: 50%;
      }
    }
  }
}

@media (max-width: 767px) {
  #content {
   .registered, .sorry {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
