/* FAB Home (tablet only)
 ************************/

@media (max-width: 800px) {

  .fabhome {
    h1 {
      font-size: 36px;
      width: auto;
      
      .sub {
        font-size: 20px;
      }
    }
    
    h2 {
      font-size: 24px;
    }
  }
  
  .fact {
    .figure {
      width: 310px;
    }
  }
  
  .outer-container {
    margin: 0;
  }
  
  .register-company-number-form {
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px 0;
    
    .button {
      width: 35%;
    }
    
    .text {
      width: 60%;
    }
  }
  
  #content.fabhome {
    background-position: top center;
  }
  
  #fabhome-benefits {
    li {
      width: 74%;
    }
    
    p {
      width: auto;
    }
    
    ul {
      width: 80%;
    }
  }
  
  #fabhome-intro {
    .register-company-number-form {
      padding: 25px;
      
      .button {
        float: none;
        margin: 20px 0;
        padding: 15px 12px;
        width: 100%;
      }
  
      .text {
        width: 100%;
      }
    }
  }
  
  #fabhome-howto {
    h2, ol {
      margin: 0 20px;
    }
    
    ol {
      li {
        background-position-y: 30px;
        padding-top: 25%;
        width: 35%;
      
        span {
          font-size: 14px;
        }
      }
    
      li:after {
        background-image: url(images/FAB-steps-arrow-2.png);
        top: 16%;
      }
    
      li::before {
        font-size: 100px;
      }
    
      li:first-child {
        width: 30%;
      }
    }
    
    strong {
      font-size: 17px;
    }
  }
  
  #fabhome-screenshot {
    height: auto;
    right: 20px;
    width: 25%;
  }
}


/* (custom sizing tweaks only)
 ******************************/

@media (max-width: 640px) {
  #fabhome-howto {
    ol {
      li {
        &::before {
          font-size: 75px;
        }
      }
    }
    
    strong {
      font-size: 15px;
    }
  }
}