/* FAB Home (mobile only)
 ************************/

@media (max-width: 480px) {
  
  .fabhome {
    h1 {
      border-bottom: $grey-4 solid 1px;
      color: inherit;
      font-size: 30px; 
      font-weight: 500;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      text-shadow: none;
      
      .sub {
        font-size: 18px;
      }
    }
    
    h2 {
      font-size: 22px;
    }
  }
  
  .register-company-number-form {
    label {
      display: block;
      margin-bottom: 25px;
    }
    
    .button { 
      float: none;
      width: 100%;
    }
    
    .text {
      width: 100%;
    }
  }
  
  #content.fabhome {
    background-image: none; 
    padding-top: 0;
  }
  
  #fabhome-benefits {
    li {
      margin-right: 0;
      width: auto;
    }
    
    ul {
      width: auto;
    }
    
    & > div {
      padding: 0 15px;
    }
  }
  
  #fabhome-howto {
    h2 {
      margin-bottom: 25px;
    }
    
    ol {
      li, li:first-child {
        background-size: 50%;
        margin-bottom: 20px;
        width: 100%;
        
        span {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
    
      li:after,
      li:first-child:after  {
        background-image: url(images/FAB-steps-arrow-3.png);
        background-position: top center;
        background-size: auto;
        height: 52px;
        padding: 0;
        position: static;
        width: 100%;
      }
    
      li:before {
        background-size: 40%;
        margin-bottom: 25px;
        padding-top: 40%;
      }
    }
    
    strong {
      font-size: 24px;
      &:before {
        top: -20px;
      }
    }
    
    .register-company-number-form {
      padding-left: 15px;
      padding-right: 15px;
    }
    
    .step1, .step2, .step3 {
      border-width: 0;
    }
    
    .step3 {
      margin-bottom: 0;
      &:after {
        display: none;
      }
    }
  }
  
  #fabhome-intro {
    color: inherit;
    margin: 0;
    
    h1 {
      background-color: $grey-1;
    }
    
    .message {
      font-size: 36px;
      letter-spacing: -0.7px;
      padding: 40px 15px;
    }
    
    .register-company-number-form {
      background-color: $grey-1;
      margin-bottom: 0 !important;
      margin-left: 0;
      margin-right: 0;
      padding: 25px 15px 40px 15px;
      
      label {
        margin-bottom: 10px;
      }
    }
  }
  
  #fabhome-screenshot {
    display: none;
  }
}
