/* FAB Home (print only)
 ************************/

@media print {
  
  /* Adjust visual for easier reading 
   ************************************/
  .fact,
  #fabhome-benefits,
  #fabhome-howto {
    border-bottom: $grey-3 solid 1px;
  }
  
  
  /* Reset colours for element reliant on having a background 
   ************************************************************/
  .fabhome,
  #fabhome-benefits {
    background-color: $white;
    
    h1, li, p {
      color: $grey-3;
    }
  }
  
  /* Save paper space 
   ********************/
  .fact {
    padding: 0 0 20px 0;
    .figure {
      font-size: 60px;
      width: 200px;
    }
    .message {
      font-size: 25px;
      width: 240px;
    }
  }
  
  #fabhome-benefits {
    padding: 0 40px;
    
    p {
      margin: 25px 0;
    }
    
    ul {
      width: 100%;
    }
  }
  
  #fabhome-howto {
    li {
      padding-top: 20px;
      
      &:before {
        float: none;
        font-size: 40px;
        line-height: 1.2em;
        position: absolute;
        top: 12px;
      }
    }
    
    strong {
      min-height: 2.5em;
      padding-left: 40px;
    }
  } 
  
  #fabhome-benefits, 
  #fabhome-intro {
    min-height: auto;
  }
  
  /* Hide ink heavy elements that don't add value to content 
   ************************************************************/
  #content.fabhome,
  #fabhome-howto .step1,
  #fabhome-howto .step2,
  #fabhome-howto .step3 {
    background-image: none;
  }
  
  .fact::after,
  .start-form,
  #fabhome-howto li::after,
  #fabhome-screenshot-1,
  #fabhome-screenshot-2 {
    display: none;
  }

}