/* FAB Home (tablet only)
 ************************/

@media (max-width: 800px) {

  .fabhome {
    h1 {
      font-size: 36px;
      width: auto;
      
      .sub {
        font-size: 20px;
      }
    }
    
    h2 {
      font-size: 24px;
    }
  }
  
  .fact {
    .figure {
      width: 310px;
    }
  }
  
  .outer-container {
    margin: 0;
  }
  
  .register-company-number-form {
    .button {
      width: 35%;
    }
    
    .text {
      width: 60%;
    }
  }
  
  #content.fabhome {
    background-position: top center;
  }
  
  #fabhome-benefits {
    li {
      width: 74%;
    }
    
    p {
      width: auto;
    }
    
    ul {
      width: 80%;
    }
  }
  
  #fabhome-howto {
    ol {
      li {
        span {
          font-size: 14px;
        }
       
        &:before {
          font-size: 100px;
        }
        
        &:first-child {
          span {
            padding-left: 62px;
          }
        }
      }
      
      span {
        padding-left: 83px;
      }
    }
    
    strong {
      font-size: 17px;
      &:before {
        font-size: 110px;
      }
    }
  }
  
  #fabhome-intro {
    .register-company-number-form {
      .button {
        float: none;
        margin: 20px 0;
        padding: 15px 12px;
        width: 100%;
      }
  
      .text {
        width: 100%;
      }
    }
  }
  
  #fabhome-screenshot {
    height: auto;
    right: 40px;
    width: 25%;
  }
}


/* (custom sizing tweaks only)
 ******************************/

@media (max-width: 640px) {
  #fabhome-howto {

  }
}


@media (max-width: 560px) {
  #fabhome-howto {
    ol {
      li:first-child {
        span {
          padding-left: 57px;
        }
      }
      
      span {
        padding-left: 67px;
      }
    }
    
    strong {
      font-size: 15px;
      &::before {
        font-size: 100px;
        margin-right: 10px;
      }
    }
  }
}