@import 'main.scss';

.ed-landing-page {
  background: $great-blue;
  color: $white;
  padding: 24px;
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  margin-top: 40px;

  &.international {
    margin-top: 0;
  }

  .ed-landing-page-login-synopsis {
    margin-bottom: 20px;
    text-align: center;
	}

  a {
    color: white;
    border-bottom: 1px solid #777;
    font-weight: bold;
  }

  a:hover {
    border-bottom: 1px dashed #fff;
    text-decoration: none;
  }

  .register-interest-btn {
    background: #00549f;
    border: 0;
    border-radius: 0;
    color: #fff;
    padding: 18px;
    text-align: center;
    &.aqua {
      background: $aqua;
      color: $white;
      margin: 0 auto;
      max-width: 230px;
    }
  }
}

.input-field-container {
	margin-bottom: 0;
	input, select {
		height: 60px;
		margin-bottom: 0;
		padding: 0 24px;
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
	label {
		margin-bottom: 0;
	}
}

.checkbox-tc {
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.page-title {
	color: #fff;
	font-size: 36px;
	font-weight: 500;
}

a .register-interest-btn {
    background: $mid-blue;
    border: 0;
    border-radius: 0;
    color: $white;
    padding: 17px 0 18px;
    text-align: center;
    width: 100%;
}

.mid-blue-bar {
  background: $mid-blue;
  color: $white;
  display: table!important;
  height: 60px;
  padding: 0 24px;
  width: 100%;
  .company-sub-title {
    color: $white;
    font-size: 24px;
    font-weight: 500;
    a {
      border-bottom: 1px solid #fff;
      text-decoration: none;
      &:hover {
        border-bottom: 1px dashed #fff;
      }
    }
  }
  .element-within {
    display: table-cell;
    float: none;
    vertical-align: middle;
    a {
      color: $white;
      &:focus {
        background: #007EA3;
      }
    }
  }
  @media (max-width: 767px) {
    .element-within {
      display: block;
    }
  }
}

.ipad-image {
  margin-bottom: 40px;
  &.international {
    margin-top: 60px;
  }
  @media (max-width: 960px) {
    margin-top: 40px;
  }
}
.ipad-intro-txt {
  clear: both;
  font-size: 24px;
  line-height: 1.2;
  max-width: 80%;
  margin: 0 auto 40px;
  @media (max-width: 960px) {
    max-width: 100%;
  }
}

.ipad-img-container {
  .desktop-mode {
    display: block;
    position: relative;
    @media (max-width: 980px) {
      display: none;
    }
    .ipad-img-with-arrows {
      text-align: center;
      
      .top-left-text, .bottom-left-text, .top-right-text, .bottom-right-text {
        position: absolute;
        text-align: left;
        width: 220px;
      }
      .top-left-text{
        top: 80px;
        left: 0;
      }
      .top-right-text {
        top: 60px;
        right: 0;
      }
      .bottom-left-text {
        bottom: 130px;
        left: 0;
      }
      .bottom-right-text {
        bottom: 100px;
        right: 0;
        &.international {
          bottom: 120px;
        }
      }

      img {
        max-width: 80%;
      }
    }
  }
  .mobile-mode {
    display: none;
    @media (max-width: 980px) {
      display: block;
    }
  }
}

.explanation-text-list {
  margin-top: 40px;
  ol {
    li {
      list-style-type: decimal;
      margin-bottom: 40px;
      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }
}

.hero-profiles {
  background: #f2eee8;
  margin-bottom: 40px;
  padding: 20px;
  .profile {
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
    .hero-profile-img-container {
      img {
        width: 100%;
      }
    }
    .coming-soon {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .hero-profile-title {
      font-weight: 500;
      margin-top: 10px;
    }
    .hero-profile-txt { 
      margin-top: 10px;
      min-height: 150px;
      @media (max-width: 768px) {
        min-height: 60px;
      }

    }
    .hero-profile-link {
      margin-top: 10px;
      a {
        border-bottom: 1px solid $mid-blue;
        color: $mid-blue;
        font-weight: 500;
        text-decoration: none;
        &:hover {
          border-bottom: 1px dashed $mid-blue;
        }
      }
    }
  }
}

.ed-landing-page-synopsis {
  padding:20px;
  border: 2px solid #dedede;
  border-top: none;
  background: white;
}

.ed-landing-page-read-more-subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ed-landing-page-sector-container {
  border: 2px solid #dedede;
}

.ed-landing-page-sector-image {
  padding: 20px;
}

.ed-landing-page-sector-synopsis {
  padding-right: 10px;
}

.ed-landing-page-see-more-button-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ed-landing-page-see-more-button {
  border: 3px solid #007EA3;
  color: #007EA3;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: block;
}

.ed-landing-page-form-container {
  margin-bottom: 40px;
}

.ed-landing-page-form-inner {
  padding:20px;
  border: 2px solid #dedede;
  border-bottom: none
}

.ed-landing-page-register-button-container {
  margin-top: 0;
}

.ed-landing-page-gap {
  margin-bottom: 20px;
}

.ed-landing-page-sector-company-image {
  padding: 0;
  width: 100%; 
}

.ed-landing-page-find-other-companies-container {
  background: #007EA3;
  padding-left: 20px;
  padding-top: 10px;
  color: white;
  h3 {
    line-height: 1em;
  }
  a {
    background: white;
    color: #00549F;
    border: 2px solid #00549F;
  }
}

.ed-landing-page-sector-companies-list {
  border: 2px solid #dedede;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 20px;
}

.ed-landing-page-sector-case-study-container {
  border: 2px solid #dedede;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 20px;

  img {
    padding: 0
  }
  .ed-landing-page-sector-case-study-inner {
    margin-bottom: 20px;
  }
  .ed-landing-page-case-study-testomonial-container {
    background: #EDEDED;
    padding: 20px;
  }
  .ed-landing-page-case-study-company-details {
    background: #007EA3;
    padding: 20px;
    color: white;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}