.button {
  &-primary {
    background-color: $red-1;
    color: $white;
  }
}

.fact {
  margin: 0;
  padding: 60px 0;
  position: relative;
  text-align: center;
  
  span {
    display: inline-block;
    font-weight: 500;
  }
  
  .figure {
    color: $great-blue;
    font-size: 100px;
    margin-right: 10px;
    text-align: right;
    width: 330px;
  }
  
  .message {
    color: $grey-3;
    font-size: 36px;
    letter-spacing: -0.7px;
    line-height: 1.2em;
    text-align: left;
    margin-left: 10px;
    width: 340px;
  }
  
  &:after {
    border-color: $great-blue;
    border-style: solid;
    border-top-color: $white;
    border-width: 40px 40px 0px 40px;
    bottom: -40px;
    content: " ";
    display: block;
    left: 50%;
    margin-left: -40px;
    position: absolute;
  }
}

.start-form {
  background-color: $grey-1;
  border-radius: 3px;
  padding: 25px;
  
  .button {
    float: right;
    font-size: 24px;
    padding: 15px 0;
    position: relative;
    top: -5px;
    width: 25%;
  }
  
  .label {
    color: $dark-grey;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .text {
    background-color: $white;
    border: $grey-2 solid 1px;
    color: $grey-2;
    font-size: 16px;
    padding: 12px;
    width: 70%;
  }
}


/* FAB Home
 ***********************/
.fabhome {
  h1 {
    color: inherit;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1em;
    padding: 53px 25px 30px 25px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    width: 752px;
  
    .sub {
      font-size: 24px;
      display: block;
    }
  }

  h2 {
    color: $grey-3;
    font-size: 32px;
    line-height: 1.2em;
    margin-bottom: 25px;
  }
  
  .start-form {
    margin-bottom: 75px !important; /* counters over-specific rule targeting general forms */
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0;
  }
}

#content.fabhome {
  background-image: url(images/banner-img1.jpg);
  background-position: 100% -320px;
  background-repeat: no-repeat;
}

#fabhome-banner {
  background: linear-gradient(269deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
}

#fabhome-benefits,
#fabhome-intro {
  color: $white;
  min-height: 400px;
}


#fabhome-benefits {
  background-color: $great-blue;
  padding: 40px 40px 0 40px;
  position: relative;
  min-height: 500px;
  z-index: 1;
  
  li {
    color: inherit;
    float: left;
    font-size: 18px;
    margin: 0 30px 40px 0;
    padding-left: 30px;
    position: relative;
    width: 40%;
    
    &:before {
      color: inherit;
      content: ".";
      font-size: 40px;
      left: 0;
      position: absolute;
      top: -10px;
    }
  }

  p {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2em;
    margin: 50px 0;
    width: 53%;
  }
  
  ul {
    overflow: hidden;
    width: 55%;
  }
}

#fabhome-howto {
  background-color: $white;
  padding: 40px 0 0 0;
  
  h2, ol {
    margin: 0 40px;
    overflow: hidden;
  }
  
  li {
    background-repeat: no-repeat;
    background-position: top center;
    counter-increment: li;
    color: $grey-3;
    float: left;
    font-size: 14px;
    padding: 150px 25px 25px 25px;
    width: 30%;
  }
  
  li:after {
    background-image: url(images/FAB-steps-arrow.png);
    background-repeat: no-repeat;
    background-position: left center;
  }
  
  li:before {
    color: $grey-4;
    content: counter(li) " ";
    float: left;
    font-size: 134px;
    font-weight: 500;
    line-height: 110px;
    margin-right: 10px;
    position: relative;
    top: -5px;
  }
  
  li:first-child:after {
    background-image: none;
  }
  
  li:first-child:before {
    margin-right: 0;
  }
  
  span {
    display: block;
  }
  
  strong {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .start-form {
    border-bottom: 5px solid $red-2;
    border-radius: 0;
    padding-bottom: 50px;
  }
  
  .step1 {
    background-image: url(images/FAB-steps-icon-1.png);
  }
  
  .step2 {
    background-image: url(images/FAB-steps-icon-2.png);
  }
  
  .step3 {
    background-image: url(images/FAB-steps-icon-3.png);
  }
}

#fabhome-intro {
  position: relative;
  z-index: 2;
  
  .start-form {
    background-color: rgba(250,250,250,0.87);
  }
}

#fabhome-screenshot-1 {
  position: absolute;
  right: 50px;
  top: 25px;
  width: 25%;
}

#fabhome-screenshot-2 {
  position: absolute;
  right: 160px;
  top: 120px;
  width: 25%;
}