button,
.button {
  -webkit-appearance: none;
  
  &-cta {
    background-color: $red-1;
    color: $white;
  }
}

.fact {
  margin: 0;
  padding: 40px 0;
  position: relative;
  text-align: center;
  
  span {
    display: inline-block;
    font-weight: 500;
  }
  
  .figure {
    color: $great-blue;
    font-size: 100px;
    margin-right: 10px;
    text-align: right;
    width: 330px;
  }
  
  .message {
    color: $grey-3;
    font-size: 36px;
    letter-spacing: -0.7px;
    line-height: 1.2em;
    text-align: left;
    margin-left: 10px;
    width: 340px;
  }
  
  &:after {
    border-color: $great-blue;
    border-style: solid;
    border-top-color: $white;
    border-width: 40px 40px 0px 40px;
    bottom: -40px;
    content: " ";
    display: block;
    left: 50%;
    margin-left: -40px;
    position: absolute;
  }
}

.register-company-number-form {
  background-color: $grey-1;
  border-radius: 3px;
  padding: 25px;
  
  .button {
    float: right;
    font-size: 24px;
    padding: 15px 0;
    position: relative;
    top: -5px;
    width: 25%;
  }
  
  .label {
    color: $dark-grey;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .text {
    background-color: $white;
    border: $grey-2 solid 1px;
    color: $grey-2;
    font-size: 16px;
    padding: 12px;
    width: 70%;
  }
}


/* FAB Home
 ***********************/
.fabhome {
  h1 {
    color: inherit;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1em;
    padding: 53px 25px 30px 25px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    width: 752px;
  
    .sub {
      font-size: 24px;
      display: block;
    }
  }

  h2 {
    color: $grey-3;
    font-size: 32px;
    line-height: 1.2em;
    margin-bottom: 25px;
  }
  
  .register-company-number-form {
    margin-bottom: 75px !important; /* counters over-specific rule targeting general forms */
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0;
  }
}

#content.fabhome {
  background-image: url(images/FAB-Hero-2000x450-v3.png);
  background-position: center -50px;
  background-repeat: no-repeat;
}

#fabhome-banner {
  background: linear-gradient(269deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
}

#fabhome-benefits,
#fabhome-intro {
  color: $white;
  min-height: 400px;
}


#fabhome-benefits {
  background-color: $great-blue;
  overflow: hidden;
  padding: 40px 0 0 0;
  min-height: 500px;
  z-index: 1;
  
  li {
    color: inherit;
    float: left;
    font-size: 18px;
    margin: 0 0 20px 10px;
    padding-left: 30px;
    position: relative;
    width: 72%;
    
    &:before {
      color: inherit;
      content: ".";
      font-size: 40px;
      left: 0;
      position: absolute;
      top: -10px;
    }
  }

  p {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2em;
    margin: 50px 0 30px 0;
    width: 53%;
  }
  
  ul {
    overflow: hidden;
    width: 55%;
  }
  
  & > div {
    margin-bottom: 25px;
    min-height: 380px;
    padding: 0 25px;
    position: relative;
  }
}

#fabhome-howto {
  background-color: $white;
  padding: 40px 0 0 0;
  
  h2 {
    margin: 0 25px 40px 25px;
  }
  
  ol {
    margin: 0 25px;
    overflow: hidden;
    li {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 65%;
      border-color: $white;
      border-style: solid;
      counter-increment: li;
      color: $grey-3;
      float: left;
      font-size: 16px;
      padding: 22% 0 25px 0;
      position: relative;
      width: 33%;
    }
  
    li:after {
      background-image: url(images/FAB-steps-arrow-1.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      content: " ";
      display: block;
      height: 80px;
      left: -62px;
      position: absolute;
      top: 15%;
      width: 50px;
    }
  
    li:before {
      color: $grey-4;
      content: counter(li) " ";
      float: left;
      font-size: 134px;
      font-weight: 500;
      line-height: 110px;
      margin-right: 10px;
      position: relative;
      top: -5px;
    }
  
    li:first-child:after {
      background-image: none;
    }
  
    li:first-child:before {
      margin-right: 0;
    }
  }
  
  span {
    display: block;
  }
  
  strong {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .register-company-number-form {
    border-bottom: 5px solid $red-2;
    border-radius: 0;
    padding-bottom: 50px;
  }
  
  .step1 {
    background-image: url(images/Register-FAB.svg);
    border-width: 0 50px 0 0;
  }
  
  .step2 {
    background-image: url(images/Verify-FAB.svg);
    border-width: 0 25px 0 25px;
  }
  
  .step3 {
    background-image: url(images/FAB-impression.svg);
    border-width: 0 0 0 50px;
  }
}

#fabhome-intro {
  position: relative;
  z-index: 2;
  
  .register-company-number-form {
    background-color: rgba(250,250,250,0.87);
  }
}

#fabhome-screenshot {
  bottom: 0px;
  position: absolute;
  right: 8%;
}
