$asset-path: '../';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul, li {
    list-style: none;
}

.data-form {
  .form-control {
    width: 100%;
    max-width: 500px;
  }

  .radio-group {
    overflow: hidden;
  }

  .save-button {
    background: #00549F;
    margin: 30px 0;
  }
}

.form-group {
  .subfield {
    input {
      width: 20%;
    }

    .suffix {
      font-weight: bold;
    }
  }

  &.postcode {

    input {
      width: 8em;
      max-width: 100%;
    }
  }

  &.contact-number {
    input {
      width: 11em;
      max-width: 100%;
    }
  }
}

.list-inset {
  list-style-type: circle;
  margin-left: 2.5em;
}

.grid-row.grid-row--great {
    background: #F2EEE8;
    margin-top: 30px;
}

.panel--great {
  background: #F2EEE8;
  margin-top: 30px;
  padding: 1px 15px;
}

.exporting-logo {
    margin-bottom: 30px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// The 'a11y' class is a CSS technique for preventing text
// from visually rendering on-screen but still being available for screen readers.
.a11y {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

a.teal {
  color: #007ea3;
}
a.teal:hover {
  color: #33cfff;
}

.input-field-container {
  .helptext {
    padding-bottom: 20px;
  }

  label {
    margin-bottom: 10px;
  }

  input, select, textarea {
    border-radius: 0;
    font-size: 16px;
    height: 50px;
    width: calc(100% - 26px);
    background-color: #fff;
    border: 3px solid #6f777b;
    &:focus {
      border: 3px solid #ffbf47;
    }
  }
  input[type='checkbox'] {
    height: 30px;
    width: 30px;
  }

  select {
    height: 50px;
    width: calc(100% - 26px);
  }

  textarea {
    min-height: 200px;
  }

  input[type='file'] {
    border: 0
  }

  ul {
    &.errorlist {
      margin: 0 0 10px 0px;
      padding: 0 0 0 10px;
      border-left: 3px solid #b10e1e;
      li {
        color: #b10e1e;
      }
    }
  }
}

.btn-container {
  margin-bottom: 30px;
  margin-top: 30px;
  input.button {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: .526315em .789473em .263157em;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 19px;
    line-height: 1.31579;
    &:hover {
      background: #00692f;
    }
  }
}

.great-britain-logo {
  margin: 0 0 20px;
  max-width: 100px;
  img {
    width: 100%;
    height: auto;
  }
}

body {
  @media (max-width: 979px) {
    padding: 0;
  }
  h1 { font-size: 38px; }
  h2 {
    font-size: 26px;
  }

  #content {
    padding-bottom: 0;
    .container {
      .row-fluid {
        .enrolment-intro-container {
          margin-bottom: 20px;
          margin-top: 70px;
          .enrolment-intro {
            padding: 0;
          }
        }
        form {
          margin-bottom: 0;
          .connections-platform-form {
            padding: 5px 30px 5px;

            h2 {
              margin: 40px 0;
            }

            .already-registered {
              margin: 0 auto;
              margin-left: 10px;
              text-align: center;
            }
          }
        }
      }
      .registered, .sorry {
        margin-bottom: 150px;
        margin-top: 150px;
        padding: 40px;
        h1, h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.ed-header {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    li {
      display: inline;
      margin: 10px;
      a {
        color: white;
      }
    }
  }
  .ed-header-level-one {
    background: #110B29;
  }
  .ed-header-level-two {
    background: #1E1348;
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 4em;
  }
}

.ed-hero-sub-header {
  color: white;
  min-height: 200px;
  padding-top: 20px;
  background: url(images/banner-img1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .ed-hero-sub-header-title {
    h1 {
      margin-bottom: 20px;
    }
  }
  
}

#footer.ed-footer {
  background: #1E1348;
  padding: 40px;
  .footer-wrapper {
    background: #1E1348;
  }
  ul li {
    padding: 5px;
    a {
      color: white;
    }
  }
}

.form-wrapper-btn-container {
  line-height: 3em;
}
