$asset-path: '../';

@import 'variables.scss';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html input:focus:invalid:focus,
html textarea:focus:invalid:focus,
html select:focus:invalid:focus {
    border-color: #007EA3;
}

html input:focus:invalid,
html textarea:focus:invalid,
html select:focus:invalid {
  color: #4a4a4a;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

input[type="file"] {
  line-height: 1em;
}

ul, li {
    list-style: none;
}

.data-form {
  .form-control {
    width: 100%;
    max-width: 500px;
  }

  .radio-group {
    overflow: hidden;
  }

  .save-button {
    background: #00549F;
    margin: 30px 0;
  }
}

.form-group {
  .subfield {
    input {
      width: 20%;
    }

    .suffix {
      font-weight: bold;
    }
  }

  &.postcode {

    input {
      width: 8em;
      max-width: 100%;
    }
  }

  &.contact-number {
    input {
      width: 11em;
      max-width: 100%;
    }
  }
}

.list-inset {
  list-style-type: circle;
  margin-left: 2.5em;
}

.grid-row.grid-row--great {
    background: #F2EEE8;
    margin-top: 30px;
}

.panel--great {
  background: #F2EEE8;
  margin-top: 30px;
  padding: 1px 15px;
}

.exporting-logo {
    margin-bottom: 30px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// The 'a11y' class is a CSS technique for preventing text
// from visually rendering on-screen but still being available for screen readers.
.a11y {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Truncate text by lines with ellipsis
.one-line-truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18*1.4*1px; /* Fallback for non-webkit 25.2*/
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.two-line-truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18*1.4*2px; /* Fallback for non-webkit 50.4 */
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.three-line-truncate {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 18*1.4*3px; /* Fallback for non-webkit 75.6 */
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.external-link-white {
  text-decoration: none;
  word-break: break-all;
}

.arrow-link {
  padding: 0;
  text-transform: none;
  border: 0;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;
  font-size: 1em;
}

.external-link-white:after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(images/external-link-white.svg) no-repeat;
  background-size: 12px 12px;
  display: inline-block;
  margin-left: .5em;
}

.bold {
  font-weight: 600;
}

a.teal {
  color: #007ea3;
  border-bottom: 1px solid #007ea3;
}
a.teal:hover {
  border-bottom: 1px dashed #007ea3;
  text-decoration: none;
}

a.white-link {
  color: $white;
  border-bottom: 1px solid $white;
  text-decoration: none;
}
a.white-link:hover {
  border-bottom: 1px dashed $white;
}

#skiplink-container a.skiplink,
a.teal:focus {
  background: #007EA3;
  color: #ffffff;
}

.custom-hr {
  border-top: 0;
}
.font-white {
    color: #fff;
}
.font-weight-medium {
  font-weight: 500;
}
.font-size-15 {
  font-size: 15px;
}

label, input, button, select, textarea {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.input-field-container {
  margin-bottom: 40px;
  
  label {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400; 
  }

  input, select, textarea {
    border-radius: 0;
    font-size: 18px;
    height: 50px;
    width: 100%;
    color: #4a4a4a;
    background-color: #fafafa;
    border: 3px solid #6f777b;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    &:focus {
      border: 3px solid #007EA3;
    }
  }
  input[type='checkbox'] {
    height: 14px;
    width: 14px;
  }

  select {
    height: 50px;
    width: 100%;
  }

  textarea {
    min-height: 200px;
  }

  input[type='file'] {
    border: 0
  }

  li {
    margin-bottom: 30px;
  }

  &.has-error {
    border-left: 5px solid #B00D23;
    padding-left: 15px;

    ul {
      &.errorlist {
        margin: 0 0 10px;
        padding: 0;
        li {
          color: #b10e1e;
          font-weight: 600;
        }
      }
    }
    input, select, textarea {
      border: 3px solid #B00D23;
    }
  }
}

.btn-container {
  margin-bottom: 30px;
  margin-top: 30px;
  .button {
    background-color: #00549F;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 21px 24px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-weight: 500;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    &:focus {
      background: #007EA3;
      outline: 0;
    }
  }
}

.checkbox-txt {
  margin-left: 20px;
}

.great-britain-logo {
  margin: 0 0 20px;
  max-width: 100px;
  img {
    width: 100%;
    height: auto;
  }
}

body {
  background-color: #fafafa;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  @media (max-width: 979px) {
    padding: 0;
    .container {
      max-width: 960px;
      padding: 0 20px;
      width: 100%;
    }
  }
  h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 50px;
  }
  h2 {
    font-size: 26px;
  }

  @media (min-width: 979px) {
    .container {
      max-width: 960px;
      width: 100%;
    }
  }
  #content {
    padding-bottom: 0;
    .container {
      .enrolment-intro-container {
        margin-bottom: 20px;
        margin-top: 70px;
        .enrolment-intro {
          padding: 0;
        }
      }
      form {
        margin-bottom: 0;
        .connections-platform-form {
          ul.errorlist li {
            float: none;
            width: 100%;
          }
        }
        .connections-platform-form {
          ul li {
            float: left;
            width: 50%;

            label {
              display: block;
              position: relative;
              background: #F0F0F0;
              padding: 12px 14px 12px 20px;
              margin: 0 20px 20px 0;
              overflow: hidden;
              cursor: pointer;
              input {
                margin-right: 10px;
                outline-color: #ffbf47;
              }
            }
          }

          @media (min-width: 979px) and (max-width: 1200px) {
            ul li {
              float: left;
              width: 50%;
            }
          }

          @media (max-width: 979px) {
            ul li {
              float: left;
              width: 100%;
            }
          }

        }
      }
      .registered, .sorry {
        margin-bottom: 150px;
        margin-top: 150px;
        padding: 40px;
        h1, h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

#secondaryNav {
  font-size: 15px;
}
.ed-header {
  .level-one-container {
    text-align: right;
    ul {
      li {
        a {
          font-weight: 400;
          padding-bottom: 2px;
        }
      }
    }
  }
  ul {

    &.header-nav-links {
      float: right;
      height: 72px;
      margin-top: 5px;
      li {
        line-height: 72px;
        a {
          color: white;
          font-size: 15px;
          border-bottom: 0;
          text-transform: uppercase;
          font-weight: 500;
          padding-bottom: 4px;
        }
        a:focus {
          background: #007EA3;
          color: #ffffff;
        }
        a:hover {
          border-bottom: 4px solid #dce0df;
        }
        a.active {
          border-bottom: 4px solid #b00d23;
        }
        a.active:hover {
          border-bottom: 4px solid #dce0df;
        }
      }
    }
    @media (min-width: 979px) {
      list-style-type: none;
    }
    display: inline-block;
    margin: 0;
    li {
      display: inline;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: white;
        border-bottom: 1px solid #777;
        font-size: 15px;
      }
      a:focus {
        background: #007EA3;
        color: #ffffff;
      }
      a:hover {
        border-bottom: 1px dashed #fff;
        text-decoration: none;
      }
    }
  }
  h3.our-services-top {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: white;
    padding: 2px 0px 0 0;
    margin: 0 20px 0 0;
  }
  
  .ed-header-level-one {
    background: #110B29;
    .container {
      max-width: 960px;
      padding: 0;
      width: 100%;
      
    }
    @media (max-width: 960px) {
      padding: 10px 20px;
      .hide-in-mobile {
        display: none;
      }
    }
  }
  .ed-header-level-two {
    background: #1E1348;
    padding-top: 15px;
    padding-bottom: 14px;

    .header-main-logo {
      float: left;
    }

    .eig-links {
      float: right;
      nav {
        .header-nav-links {
          height: 0;
          margin-top: -5px;
        }
      }
    }

    @media (max-width: 960px) {
      .header-nav-links {
        display: none;
      }
    }
  }
  .ed-header-mobile-view {
    @media (max-width: 960px) {
      display: block;
    }
    display: none;
    padding: 0;
    width: 100%;
    .header-nav {
      padding: 0;
      text-align: left;
      h3 {
        line-height: 23px;
        margin: 0;
        padding: 0; 
      }
      ul.mobile-secondary-nav {
        list-style-type: none;
        width: 100%;
        li {
          display: inline-block;
          list-style-type: none;
          border-bottom: 1px solid #777;
          border-bottom-color: rgba(220,224,223,0.5);
          margin-left: 20px;
          margin-right: 20px;
          padding: 10px 0;
          position: relative;
          width: 93%;
          a {
            border-bottom: 0;
            font-weight: 400;
            &.active {
              &:before {
                border: 6px solid #b00d23;
                content: '';
                height: 20px;
                left: -20px;
                position: absolute;
              }

              &:hover {
                &:before {
                  border-color: #dce0df;
                }
              }
            }
            &:hover {
              &:before {
                border: 6px solid $white;
                content: '';
                height: 20px;
                left: -20px;
                position: absolute;
              }
            }
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
      .background--indigo {
          background-color: #110b29;
      }
      .soft-half--left {
          padding-left: 10px;
      }
      .soft-half--sides {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
      }
      .soft--ends {
          padding-bottom: 20px;
          padding-top: 20px;
      }
    }
  }
}

.ed-hero-sub-header {
  color: white;
  min-height: 275px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(images/banner-img1.jpg) no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .ed-hero-sub-header-title {
    h1 {
      margin-bottom: 20px;
      @media (max-width: 979px) {
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}

#footer.ed-footer {
  background: #1E1348;
  padding: 40px 40px 50px;
  @media (max-width: 960px) {
    padding: 40px 0;

    .footer-section {
      border-top: 1px solid #fff;
      padding: 30px 0;

    }

    .container {
      .grid-row {
        display: flex;
        flex-flow: column;
        .logo {
          order: 3;
          width: 100%;
        }
        .links {
          margin-left: 0;
          order: 2;
          width: 100%;
        }
        .subscribe {
          margin-left: 0;
          order: 1;
          width: 100%;
          .footer-section {
            border-top: 0;
            padding-top: 0;
          }
        }
      }
    }
  }
  .footer-wrapper {
    background: #1E1348;
  }
  ul li {
    a {
      color: $white;
      border-bottom: 1px solid #777;
    }
    a:focus {
      background: #007EA3;
      color: #ffffff;
    }
    a:hover {
      border-bottom: 1px dashed $white;
      text-decoration: none;
    }
  }

  .hmg-logo {
    img {
      max-width: 250px;
    }
  }
  .eig-logo-footer {
    img {
      max-width: 200px;
    }
  }
  p.copyright-text {
    color: #dce0df;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
  }
  .footer-img--top {
    margin-bottom: 10px;
  }

  h3.footer-header {
    color: $white;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 30px 0;
    padding: 0;
    line-height: 30px;
  }
  ul.footer-links-container {
    margin: 0;
    li.footer-links {
      margin-bottom: 15px;
      a {
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}

.form-wrapper-btn-container {
  line-height: 3em;
  clear: both; // needed for IE8 compatibility with multi column lists
}

.ed-form-classification-container li {
  margin-bottom: 0;
}

.ed-error-page-container {
  color: #4a4a4a;
  .ed-error-page-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  ul.ed-error-page-synopsis {
    margin:0;
    li {
      margin-bottom: 10px;
    }
  }
  .ed-error-page-status {
    padding-bottom: 40px;
  }
  hr {
    border-bottom: 1px solid #4f0b7b;
  }
}


.ed-international-success-container {
  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .ed-international-success-synopsis {
    margin-bottom: 40px;
  }
}

body.js-enabled .js-header-nav-menu.js-header-nav-menu-hide {
  display: block;
  @media (max-width: 960px) {
    display: none;
  }
}

.header-nav-menu-toggle-button {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.header-nav-menu-toggle-button {
  display: none;
  @media (max-width: 960px) {
    display: block;
  }
}

.ed-header-level-two {
  .ed-header-image-container {
    position: relative;
    @media (max-width: 979px) {
      padding-left: 5px;
    }
  }
}

.header-main-logo {
  width: 300px;
  @media (max-width: 640px) {
    width: 70%;
  }
}

a.no-focus-highlight {
  background-color: inherit;
}

.button-hyperlink {
  background: transparent;
  border: none;
  margin-left: 20px;
}

.great-blue-bar {
  background: $great-blue;
  display: table!important;
  height: 80px;
  padding: 0 24px;
  .company-name-title {
    color: $white;
    font-size: 36px;
    font-weight: 500;

    span {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: 38px;
      margin: 20px 20px 20px 0;
      line-height: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media (max-width: 767px) {
      font-size: 28px;
      width: 100%;
      span {
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 100%;
        height: 28*1.4*1px; /* Fallback for non-webkit 39.2 */
        margin: 20px 0;
        line-height: 1.4;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .element-within {
    display: table-cell;
    float: none;
    vertical-align: middle;
    a {
      color: $white;
      &:focus {
        background: #007EA3;
      }
    }
    .a11y {
      color: $white;
    }
  }
  @media (max-width: 767px) {
    .element-within {
      display: block;
    }
  }
}

.ed-has-edit-button {
  position: relative;
}

.ed-edit-button {
  position: absolute;
}

.ed-arrow_box {
  position: relative;
  background: #EDEDED;
}

.ed-arrow_box:after {
  top: 100%;
  left: 50px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(237, 237, 237, 0);
  border-top-color: #EDEDED;
  border-width: 20px 20px 0px 0px;
  margin-left: -20px;
}

.ed-special-bottom-border {
  border-bottom: 7px solid #B00D23;
}

// do not remove the `a.` prefix - it increases the specificity
// to ensure `color` we set here is respected.
a.ed-naked-button-error {
  border: 3px solid #B00D23;
  color: #B00D23;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: block;
}
