$asset-path: '../';

ul, li {
    list-style: none;
}

.data-form {
  .form-control {
    width: 100%;
    max-width: 500px;
  }

  .radio-group {
    overflow: hidden;
  }

  .save-button {
    background: #00549F;
    margin: 30px 0;
  }
}

.form-group {
  .subfield {
    input {
      width: 20%;
    }

    .suffix {
      font-weight: bold;
    }
  }

  &.postcode {

    input {
      width: 8em;
      max-width: 100%;
    }
  }

  &.contact-number {
    input {
      width: 11em;
      max-width: 100%;
    }
  }
}

.list-inset {
  list-style-type: circle;
  margin-left: 2.5em;
}

.grid-row.grid-row--great {
    background: #F2EEE8;
    margin-top: 30px;
}

.panel--great {
  background: #F2EEE8;
  margin-top: 30px;
  padding: 1px 15px;
}

.exporting-logo {
    margin-bottom: 30px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

// The 'a11y' class is a CSS technique for preventing text
// from visually rendering on-screen but still being available for screen readers.
.a11y {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

a.teal {
  color: #007ea3;
}
a.teal:hover {
  color: #33cfff;
}

.input-field-container {
  label {
    margin-bottom: 10px;
  }

  input, select {
    border: 3px solid #ffffff;
    border-radius: 0;
    font-size: 16px;
    height: 30px;
    margin: 0 0 40px;
    padding: 5px 10px;
    width: calc(100% - 26px);
    &:focus {
      border: 3px solid #ffbf47;
    }
  }

  select {
    height: 50px;
    width: 100%;
  }

  ul {
    &.errorlist {
      margin: 0;
      padding: 0;
      li {
        color: #ffbf47;
      }
    }
  }
}

.register-btn-container {
  margin: 20px 0;
  text-align: center;
  input.register-btn {
    background: #888888;
    border: 0;
    color: #ffffff;
    height: 60px;
    width: 150px;
    &:hover {
      background: #666666;
    }
  }
}

.steps {
  margin: 20px auto;
  text-align: center;
  width: 100%;
  color: white;
  span {
    font-family: initial;
    font-size: 3em;
    line-height: 1;
  }
}

.black-60-percent {
  background: rgba(0,0,0,0.6);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  zoom: 1;
}

.great-britain-logo {
  margin: 0 0 20px;
  max-width: 100px;
  img {
    width: 100%;
    height: auto;
  }
}

body {
  @media (max-width: 979px) {
    padding: 0;
  }
  h1 { font-size: 38px; }
  h2 {
    font-size: 26px;
  }

  #content {
    padding-bottom: 0;
    .container {
      .row-fluid {
        .enrolment-intro-container {
          margin-bottom: 20px;
          margin-top: 140px;
          .enrolment-intro {
            padding: 40px;
          }
        }
        form {
          margin-bottom: 0;
          .connections-platform-form {
            padding: 20px 40px 150px;

            h2 {
              margin: 40px 0 60px 0;
            }

            .already-registered {
              margin: 0 auto;
              text-align: center;
            }
          }
        }
      }
      .registered, .sorry {
        margin-bottom: 150px;
        margin-top: 150px;
        padding: 40px;
        h1, h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}


.ed-header {
  background: black;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    li {
      display: inline;
      margin: 10px;
      a {
        color: white;
      }
    }
  }
  .ed-header-level-one {
    background: #110B29;
  }
  .ed-header-level-two {
    background: #1E1348;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
