$asset-path: '../';

$white: #ffffff;
$black: #000000;
$dark-grey: #333333;
$mid-grey: #666666;
$great-blue: #1E1348;
$mid-blue: #00549F;
$stone: #DFD5C5;

// FROM VARS
$great-primary: #1e1348;
$light-grey: #777;
$flag-red: #b00d23;
$lighter-grey: #dce0df;
$lighter-grey-opacity: rgba(220, 224, 223, .5);
$logo-width: 300px;

//DEVICES
$tablet: 960px;
$mobile: 400px;