
/* General
*******************/

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, dfn, em, img, q, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, th, td, article, aside, figure, figcaption, footer, header, nav, section, video {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  font-family: "Roboto", arial, helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.58em;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

input:focus,
textarea:focus,
select:focus {
  outline: 3px solid #ffbf47
}

.button-primary {
  background-color: $mid-blue;
  color: $white;
  padding: 12px 50px;
  -webkit-appearance: none;

  &:active {
    background-color: $aqua;
  }
  &:hover {
    background-color: $blue-1;
  }
}

.errors {
  li, p {
    color: $red-1;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.back-link {
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin: 0;
  padding: 0;

  &:before {
    content: "<";
    margin-right: 5px;
  }
}

.ul {
  /*
  Tag as class used to compensate for these
  styles not being added earlier in project
  */

  li {
    margin: 0 0 1em 15px;
    padding-left: 30px;
    position: relative;

    &:before {
      color: inherit;
      content: ".";
      font-size: 40px;
      left: 0;
      position: absolute;
      top: -10px;
    }
  }
}
