$asset-path: '../';

@import 'trade';

ul, li {
    list-style: none;
}

.data-form {
  .form-control {
    width: 100%;
    max-width: 500px;
  }

  .radio-group {
    overflow: hidden;
  }


  .save-button {
    background: #00549F;
    margin: 30px 0;
  }
}

.form-group {
  .subfield {
    input {
      width: 20%;
    }

    .suffix {
      font-weight: bold;
    }
  }

  &.postcode {

    input {
      width: 8em;
      max-width: 100%;
    }
  }

  &.contact-number {
    input {
      width: 11em;
      max-width: 100%;
    }
  }
}

.list-inset {
  list-style-type: circle;
  margin-left: 2.5em;
}

.grid-row.grid-row--great {
    background: #F2EEE8;
    margin-top: 30px;
}

.exporting-logo {
    margin-bottom: 30px;
}
