$asset-path: '../';

@import 'main.scss';

body { 
  background: url(images/banner-img1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  #content {
    &.registration-content { max-width: 1200px; }
  }
}