{% extends 'directory_components/base.html' %}

{% load static from staticfiles %}

{% block head_css %}
    <link href="{% static 'Dit-Pattern-Styling/public/css/main.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'vendor/bootstrap/css/bootstrap-grid-only.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'vendor/bootstrap/css/bootstrap-responsive.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'main.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block head_js %}
    <script src="{% static 'Dit-Pattern-Styling/public/js/third-party.js' %}"></script>
    <script src="{% static 'Dit-Pattern-Styling/public/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/index.js' %}"></script>
{% endblock %}

{% block body_content_container %}
    {% block sub_header %}
        <section class="ed-hero-sub-header">
            <div class="outer-container">
                <div class="row-fluid">
                    <span class="span12 ed-hero-sub-header-title">
                        <h1 class="h1">{% block hero_title %}{% endblock %}</h1>
                    </span>
                </div>
                <div class="row-fluid ed-hero-sub-header-synopsis">
                    <span class="span9">
                        <span>{% block hero_text %}{% endblock %}</span>
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
    {% endblock sub_header %}
	{{ block.super }}
{% endblock %}

{% block css_layout_class %}enrolment-content{% endblock %}

{% block body_js %}
    <script type="text/javascript">
        GOVUK.page.init();
    </script>
{% endblock %}


{% block feedback_reporter %}{% endblock %}
